@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
.blog-img img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.blog-des{
  padding: 20px;
  background: #fff;
  margin-top: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.blog-des h4{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #003400;
}
.blog-des p{
  padding-top: 30px;

}
/* Footer Scroll To Top. */

.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  border-radius: 50%;
  background: #489b4e !important;
  color: #fff;
  font-size: 30px;
  z-index: 20;
  text-align: center;
  padding: 4px;
}

.scrolltop-icon {
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.wrapper {
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.bullet-button {
  list-style: circle !important;
}

img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

h1 {
  color: #003400;
  font-size: 50px;
}

p {
  color: #003400;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #003400;
}

#front-main-content .block:nth-of-type(even) {
  background: #fbebce !important;
}

#front-main-content .block:nth-of-type(even) h2 {
  color: #003400;
}

/* CSS FOR SIDEBAR FIRST AND SIDEBAR SECOND */
.path-contact .side-con {

  display: flex;

}

.path-contact .sidebar-first,
.path-contact .sidebar-second {
  width: calc(25% - 20px);
}

.path-contact .region-content {
  width: 100%;
}

.region-content {
  min-height: 550px;
}

.global-but {
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #fc0;
  padding: 1.063rem 1.7rem;
  border-radius: 50px;
}

.global-but:hover {
  opacity: 0.8;
}

.views-field-view-node {
  position: relative;
}

.read-button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 13px;
  border: none;
  color: white;
  font-size: medium;
  cursor: pointer;
}

.read-button a{
  padding: 10px;
  background-color: #fc0;
  border-radius: 10px;
}

.about-us-heading {
  padding-bottom: 100px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

th {

  color: white;
  padding: 10px;
  background-color: #011627;
}


td {
  padding: 5px;
}

form {
  padding: 40px;

}

form:focus {
  border: 2px solid black;
}

.form-text {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  background-color: white;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-text:focus {
  border: 2px solid black;
}

.form-email {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  background-color: white;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-email:focus {
  border: 2px solid black;
}

.form-textarea-wrapper {
  margin-top: 12px;
}

.form-textarea {
  height: 100px;
  transition: 0.3s ease-in-out;

}

.form-textarea:focus {
  transition: 0.3s ease-in-out;
}

#edit-field-roll-no-0-value {
  margin: 15px;
}

.form-type-managed-file {
  display: flex;
}

.image-widget-data {
  margin-left: 20px;
}

header {
  display: flex;
  background-color: #faf5e9;
  font-family: "serif";
  padding: 10px 10px;
}

.menu li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ECF87F;
  text-decoration: none;

}

.block-system-branding-block {
  width: 20%;
}

#block-vetenary-main-menu {
  width: 56%;
  margin-top: 12px;

}

#block-vetenary-search {
  width: 31%;
  margin-top: -16px;


}

.site-name {
  display: none;
}

header .navbar .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ECF87F;
}

header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .nav-menu {
  margin-left: 20rem;
}

header .navbar .nav-menu .search {
  position: relative;
  margin-right: -23px;
}

header .navbar .nav-menu .search form {
  width: 100%;
  position: relative;
}

header .navbar .nav-menu .search form .search-button {
  width: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  background: #59981A;
}

header .navbar .nav-menu .search form .search-button::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  background: url("/images/Search Button.png") no-repeat;
}

header .navbar .nav-menu .search form input[type="search"] {
  background: #81B622;
  height: 40px;
  padding: 6px 153px 34px -48px;
  width: 100%;
  outline: none;
  border: 0;
  margin: 0;
  color: #ECF87F;
  font-weight: 700;
  font-size: 15px;
}

header .navbar .hide .nav-menu li {
  margin-left: 2rem;
}

header .navbar .hide .nav-menu li .nav-link {
  font-size: 20px;
  font-weight: 400;
  color: #003400;
  text-decoration: none !important;
}

header .navbar .nav-menu li .nav-link:hover {
  /* color: #0ba0cd; */
  opacity: .8;
}

header .hamburger {
  display: none;
}

header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ECF87F;
}

.banner {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #81B622;
}

.banner .banner-section {
  padding-bottom: 30px;
}

.banner .banner-list {
  position: relative;
}

.banner .banner-list li {
  display: flex;
}

.banner .banner-list .banner-left {
  width: 60%;
  margin-top: 31px;
}

.banner .banner-list .banner-left .banner-heading h1 {
  font-size: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.banner .banner-list .banner-left .banner-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
}

.banner .banner-list .banner-left .button-list {
  padding: 0;
  display: flex;
}

.banner .banner-list .banner-left .button-list li a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
  padding: 9px;
  border-radius: 5px;
}

.banner .banner-list .banner-left .button-list li a:hover {
  background-color: #0ba0cd;
  border: 2px solid #3D550C;
  transition: all 1s;
  box-shadow: 2px 3px 6px #3D550C;
}

.banner .banner-list .banner-left .button-list li:nth-child(2) {
  margin-left: 20px;
}

.banner .banner-list .banner-right {
  width: 40%;
  text-align: right;
}

.banner .banner-list .banner-right img {
  max-width: 960px;
  height: 500px;
}

.banner .fa-angle-left {
  font-size: 40px;
  background-color: #59981A;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 47%;
  left: -57px;
}

.banner .fa-angle-right {
  font-size: 40px;
  background-color: #59981A;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 41%;
  right: -60px;
}

/* for slider */
.slide__caption {
  background-color: white;
  display: flex;
  padding: 95px;
  padding-bottom: 112px;
}

/* css for slideshow buttons */
.btn {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: black;
  border-color: black;


}

.btn1 {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: black;
  border-color: black;
  margin-left: 20px;
}

#block-views-block-service-block-1 {
  padding-bottom: 100px;

}

.services .service-sub-heading h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}

.views-col {
  display: flex;
}

.views-field-body {
  margin-top: 89px;
  width: 60%;
  padding-bottom: 17px;
}

.view-footer {
  position: relative;
  padding-bottom: 20px;
}

#block-views-block-waterfall-block-1 {
  padding-top: 40px;
  padding-bottom: 75px;
}

.view-display-id-block_1 {
  position: relative;
}

.more-link {

  text-align: left;
  position: absolute;
  left: 24px;

}

.more-link a {
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #fc0;
  padding: 1.063rem 1.7rem;
  border-radius: 50px;
  padding: 10px 20px;
}

.services .services-section .services-left .services-heading {
  padding-bottom: 20px;
}

.services .services-section .services-left .services-heading h1 {
  font-size: 38px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.services .services-section .services-left .services-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -22px;
}

.services .services-section .services-left .button:hover {
  background-color: #0ba0cd;
  transition: all 1s;
  box-shadow: 2px 3px 6px #3D550C;
}

.views-field-field-image {
  width: 40%;
  text-align: right;
  position: relative;
  margin-bottom: 20px;
  margin-left: 150px;
}

.services .services-section .services-right::before {
  content: '';
  width: 187px;
  height: 165px;
  left: -20px;
  bottom: -16px;
  position: absolute;
  z-index: 1;
  background-color: #81B622;
}

.services .services-section .services-right img {
  height: 400px;
  max-width: 456px;
  z-index: 1;
  position: relative;
}

.vaccination {
  background-color: white;
  padding-bottom: 30px;
}

.vaccination .view-header h2 {
  color: black;
}

.vaccination .view-header p {
  color: black;
}

.vaccination .field-content p {
  color: black;
}

.vaccination .vaccination-section .vaccination-heading {
  text-align: center;
}

.views-element-container h2 {
  padding-top: 60px;
  margin-top: 0;
  font-size: 50px;
  color: black;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.view-header {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* margin-top: -39px; */
  margin-bottom: 60px;
}

.vaccination-list li .views-field-body {
  width: 100%;
  margin-top: 0;
}

.vaccination-list li h3 {
  margin-bottom: 30px;
}

.item-list .vaccination-list {
  display: flex;
  padding: 0;
}

.item-list .vaccination-list li {
  width: calc(33.33% - 33px);
}

.item-list .vaccination-list li .vaccination-img:hover {
  transform: scale(1.1);
  transition: all 2s;
}

.item-list .vaccination-list li .vaccination-text {
  text-align: center;
}

.item-list .vaccination-list li h3 {
  text-align: center;
  /* margin: 0%; */
  font-size: 30px;
  /* color: #ffffff; */
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.item-list .vaccination-list li .vaccination-text p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -20px;
}

.care {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ECF87F;
}

.care .care-section {
  display: flex;
}

.care .care-section .care-left {
  width: 35%;
  position: relative;
  margin-bottom: 20px;
}

.care .care-section .care-left::before {
  content: '';
  width: 187px;
  height: 165px;
  /* right: 278px; */
  right: -20px;
  bottom: -20px;
  position: absolute;
  z-index: 1;
  background-color: #81B622;
}

.care .care-section .care-left img {
  height: 400px;
  max-width: 456px;
  z-index: 1;
  position: relative;
}

.care .care-section .care-right {
  width: 65%;
  text-align: right;
  margin-top: 12px;
}

.care .care-section .care-right a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #81B622;
  padding: 13px;
  border-radius: 5px;
}

.care .care-section .care-right a:hover {
  background-color: #0ba0cd;
  transition: all 1s;
}

.care .care-section .care-right .care-heading {
  padding-bottom: 20px;
}

.care .care-section .care-right .care-heading h1 {
  font-size: 38px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

.field-content p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #003400;
  font-weight: 400;
  font-family: 'serif';
  margin-top: -22px;
  word-break: normal !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.538em;
  ;
}

.path-blogs-page .field-content p {
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 35px;
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -22px;
  word-break: normal !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.538em;
  ;
}

.team {
  background-color: #ECF87F;
  padding-top: 40px;
  padding-bottom: 80px;
}

.team .team-section .team-heading {
  padding-bottom: 20px;
}

.team .team-section .team-heading h1 {
  font-size: 50px;
  color: #313243;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.team .team-section .team-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -30px;
}

.team .team-section .team-list {
  display: flex;
  padding: 0;
  margin: 0 -15px;
  padding-bottom: 20px;
}

.team .team-section .team-list li {
  width: calc(33.33% - 30px);
  padding: 0 15px;
}

.team .team-section .team-list li .team-img:hover {
  transform: scale(1.05);
  transition: all 3s;
}

.team .team-section .team-list li .team-text h2 {
  font-size: 25px;
  color: #313243;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.team .team-section .team-list li .team-text h3 {
  font-size: 20px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* margin: 0; */
  margin-top: -23px;
}

.team .team-section .team-list li .team-text .team-text-list {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-left: 46px;
  margin-top: -10px;
}

.team .team-section .team-list li .team-text .team-text-list li {
  padding: 0;
}

.team .team-section .team-list li .team-text .team-text-list li img {
  max-width: 35px;
}

.team .team-section .team-list li .team-text .team-text-list li img:hover {
  transform: scale(1.3);
  transition: all 0.6s;
}

.info {
  position: relative;
  text-align: center;
  background-color: #81B622;
  background-size: cover;
  padding: 40px 0;
}

.info .info-section {
  position: relative;
}

.info .info-section .info-list {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.info .info-section .info-list li {
  width: calc(33.33% - 40px);
  padding: 0 20px;
}

.info .info-section .info-list li:nth-child(3) img {
  max-width: 145px;
}

.info .info-section .info-list li .info-list-img img {
  max-width: 167px;
}

.info .info-section .info-list li .info-text {
  text-align: center;
}

.info .info-section .info-list li .info-text span {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.info .info-section .info-list li .info-text h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.post {
  padding-top: 40px;
  padding-bottom: 80px;
  /* background-color: #011627;  */
}

.post .view-header h2 {
  color: #000;
}

.post .post-section .post-heading {
  padding-bottom: 20px;
}

.post .post-section .post-heading h1 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.post .post-section .post-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -34px;
}

.item-list .post-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* margin: 0 -15px; */
  padding-bottom: 20px;
}

.post-list .views-field-body {
  width: 100%;
  margin-top: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  margin-top: -16px;
}

.path-blogs-page .post-list .views-field-body {
  width: 100%;
  margin-top: 0;
  border-right: 2px solid #011627;
  border-bottom: 2px solid #011627;
  border-left: 2px solid #011627;
  margin-top: -16px;
}

.post-list .views-field-field-blog-images .field-content {
  padding: 0;
}

.item-list .post-list li {
  width: calc(33.33% - 30px);
  /* padding: 0 15px; */
  padding-bottom: 30px;
}

.post-list li h3 {
  margin-bottom: 28px;
  margin-top: 0;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 12px;
}

.path-blogs-page .post-list li h3 {
  margin-bottom: 28px;
  margin-top: 0;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 12px;
}

.item-list .post-list li .post-text {
  border-right: 2px solid #81B622;
  border-bottom: 2px solid #81B622;
  border-left: 2px solid #81B622;
  padding-bottom: 12px;
  padding: 16px;
}

.item-list .post-list li .post-text h2 {
  margin-top: 0;
  font-size: 20px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.item-list .post-list li .post-text h3 {
  font-size: 15px;
  color: #59981A;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -14px;
}

.item-list .post-list li .post-text p {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.field-content {
  padding: 10px;
}

.view-footer .post-list-button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 900;
  border: 2px solid;
  padding: 3px 24px;
  background-color: #59981A;
  left: 19px;
  position: absolute;
}


.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81B622;
}

.contact .contact-content {
  padding-bottom: 80px;
}

.contact .contact-content .contact-heading {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.contact .contact-content .contact-heading h1 {
  color: white;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.contact .contact-content .contact-heading p {
  font-weight: 400;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 35px;
  margin-top: -39px;
}

.contact .contact-content .contact-main {
  display: flex;
}

.contact .contact-content .contact-main .contact-left {
  width: 50%;
}

.contact .contact-content .contact-main .contact-left h4 {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.contact .contact-content .contact-main .contact-left .contact-list {
  padding: 0;
}

.contact .contact-content .contact-main .contact-left .contact-list li {
  margin-bottom: 30px;
}

.contact .contact-content .contact-main .contact-left .contact-list li h3 {
  font-size: 16px;
  color: white;
}

.contact .contact-content .contact-main .contact-left .contact-list li h3 i {
  color: #59981A;
}

.contact .contact-content .contact-main .contact-right {
  width: 50%;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
  display: flex;
  justify-content: space-between;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  width: calc(100% - 30px);
  background-color: white;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
  min-height: 100px;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
.contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  width: calc(100% - 30px);
  background-color: white;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
  min-height: 100px;
}

.contact .contact-content .contact-main .contact-right .update-button {
  width: 100%;
  display: inline-flex;
}

.contact .contact-content .contact-main .contact-right .update-button a {
  border: 2px solid #ECF87F;
  color: #ECF87F;
  padding: 13px 162px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  border-radius: 3px;
  margin-top: 29px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 17px;
}

.contact .contact-content .contact-main .contact-right .update-button a:hover {
  background-color: #3D550C;
  transition: all 1s;
}

.banner-top {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #81B622;
}

.banner-top .banner-top-section h1 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  color: white;
}

.banner-top .banner-top-section h2 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  color: white;
}

/* for read more description page of blog  */
#main-content {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff;

}

.hiking {
  background-color: #ECF87F;
}

.hiking .hiking-section {
  max-width: 870px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.field--type-text h2 {
  font-size: 35px;
  font-family: 'Poppins';
  text-align: center;
}

.field--type-text-with-summary p {
  padding: 20px;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 50px;
  font-family: 'Poppins';
}

.hiking .hiking-section .main-hiking {
  display: flex;
  justify-content: flex-start;
}

.hiking .hiking-section .main-hiking .share h3 {
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 900;
}

.hiking .hiking-section .main-hiking .share-list {
  margin-left: 20px;
  display: flex;
}

.hiking .hiking-section .main-hiking .share-list li {
  padding: 8px;
}

.hiking .hiking-section .main-hiking .share-list li a i {
  font-size: 40px;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
  color: #6db106;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
  color: blue;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
  color: #1282a7;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
  color: #c03eebbf;
}

.hiking .hiking-section .main-hiking .share-list li:hover {
  transform: scale(1.3);
  transition: all 0.6s;
}

footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .top .social-icon{
  display: flex;
  justify-content: center;
}

footer .top .social-icon li {
  font-size: 24px;
}

footer .top .social-icon li a{
  color: #fbebce;
}

footer .footer-section {
  display: flex;
  justify-content: space-between;
}

footer .footer-section h2 {
  font-size: 30px;
  color: #fbebce;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

footer .footer-section .left {
  width: 29%;
}

footer .footer-section .left .left-list {
  padding: 0;
}

footer .footer-section li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  color: #fbebce;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

footer .footer-section li a:hover {
  font-weight: 900;
  opacity: .8;
}

footer .footer-section .left .left-list li a:hover {
  font-weight: 900;
  color: #0ba0cd;
}

footer .footer-section .Middle {
  width: 29%;
}

footer .footer-section .Middle .Middle-list {
  padding: 0;
}

footer .footer-section .Middle .Middle-list li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

footer .footer-section .Middle .Middle-list li a:hover {
  font-weight: 900;
  color: #0ba0cd;
}

footer .footer-section .right {
  width: 42%;
  text-align: right;
}

footer .footer-section .right .right-heading h2 {
  font-size: 30px;
  line-height: 8px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

footer .footer-section .right .right-heading p {
  font-size: 17px;
  line-height: 33px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

footer .footer-section .right .field--type-text-with-summary img {
  max-width: 44px;
}

footer .footer-section .right .footer-search {
  position: relative;
}

footer .footer-section .right .footer-search form .footer-search-button {
  width: 72px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  background: #59981A;
}

footer .footer-section .right .footer-search form .footer-search-button:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  background: url(/images/msg.png) no-repeat;
}

footer .footer-section .right .footer-search form input[type="search"] {
  background: #81B622;
  height: 60px;
  padding: 6px 153px 34px -48px;
  /* border-radius: 3px; */
  width: 100%;
  outline: none;
  border: 0;
  margin: 0;
  color: #ECF87F;
  font-weight: 700;
  font-size: 15px;
}

footer .footer-section .right .footer-list {
  display: flex;
  justify-content: flex-end;
}

footer .footer-section .right .footer-list li {
  padding: 5px;
}

footer .footer-section .right .footer-list li img {
  max-width: 44px;
}

footer .footer-section .right .footer-list li img:hover {
  transform: scale(1.3);
  transition: all 0.6s;
}

/* for contact page tabs */
.page-title {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  margin: 0;
  text-align: center;
}

.tabs ul {

  margin: 0;
}

.tabs ul li {
  background-color: lightgrey;
}

.tabs ul li a {
  color: blue;

}

.tabs a.is-active {
  background-color: white;
}

.path-contact #sidebar-first,
.path-contact #sidebar-second {
  background-color: #003400;
}

.path-contact #sidebar-first .views-element-container,
.path-contact #sidebar-second .views-element-container {
  background-color: #003400;
}

.path-contact #sidebar-first .field-content a,
.path-contact #sidebar-second .field-content a {
  font-size: 35px;
  color: black;
}

.path-contact #sidebar-first .views-field-title,
.path-contact #sidebar-second .views-field-title {
  padding-top: 70px;
}

.path-service .field-content p {
  color: black;
}

/* mobile responsive */
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: none;
    padding: 0px 15px;
  }

  header {
    justify-content: space-between;
    align-items: center;
  }

  header #sidebar {
    position: relative;
  }

  header .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 136px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: none;
    z-index: 999;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }

  header .navbar .nav-menu:active {
    left: 0;
  }

  header .navbar .nav-menu li {
    margin: 2.5rem 0;
  }

  header .navbar .nav-menu li a {
    font-size: 1.6rem;
    font-weight: 400;
  }

  header .navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .navbar .nav-menu li {
    margin: 0;
    padding: 20px;
  }

  header .navbar .nav-menu li a {
    font-size: 1.6rem;
    font-weight: 400;

    text-decoration: none;
  }

  header .navbar .nav-menu li a:hover {
    color: #0ba0cd;
  }

  header .hamburger {
    display: block;
    cursor: pointer;
  }

  header .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  #sidebar.hide .nav-menu {
    display: none;
  }

  #sidebar.show .nav-menu {
    display: flex;
    background-color: #0ba0cd;
  }

  #block-vetenary-search {
    display: none;
  }

  .banner {
    padding-top: 0px;
  }

  .banner .banner-list li {
    display: flex;
    flex-wrap: wrap;
  }

  .banner .banner-list .banner-left {
    width: 100%;
    margin-top: 31px;
    padding-bottom: 40px;
  }

  .banner .banner-list .banner-left .banner-heading h1 {
    font-size: 20px;
  }

  .banner .banner-list .banner-left .banner-heading p {
    font-size: 11px;
    margin-top: 0px;
  }

  .slide__caption .slide_overlay button {
    background-color: #59981A;
  }

  .button-list li a {
    font-size: 8px;
    padding: 5px;
  }

  .button-list li a:hover {
    background-color: #0ba0cd;
    border: 2px solid #0ba0cd;
    transition: all 1s;
    box-shadow: 2px 3px 6px #0ba0cd;
  }

  .button-list li:nth-child(2) {
    margin-left: 20px;
  }

  .banner .banner-list .banner-right {
    width: 100%;
    text-align: right;
  }

  .banner .banner-list .banner-right img {
    height: auto;
  }

  .banner .fa-angle-left {
    padding: 1px 8px;
  }

  .banner .fa-angle-right {
    padding: 1px 8px;
  }



  .services .services-section {
    display: flex;
    flex-wrap: wrap;
  }

  .services .services-section .services-left {
    width: 100%;
    padding-bottom: 17px;
  }

  .services .services-section .services-left a {
    font-size: 8px;
    padding: 5px;
  }

  .services .services-section .services-left .services-heading h1 {
    font-size: 18px;
  }

  .services .services-section .services-left .services-heading p {
    font-size: 12px;
    margin-top: 0px;
  }

  .services .services-section .services-right {
    width: 100%;
    margin-left: 0px;
  }

  .services .services-section .services-right::before {
    left: 87px;
  }

  .services .services-section .services-right img {
    height: auto;
  }

  .vaccination .vaccination-section .vaccination-heading h1 {
    font-size: 30px;
  }

  .vaccination .vaccination-section .vaccination-heading p {
    font-size: 10px;
    margin-top: -17px;
  }

  .vaccination .vaccination-section .vaccination-list {
    flex-wrap: wrap;
  }

  .vaccination .vaccination-section .vaccination-list li {
    width: 100%;
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text {
    text-align: center;
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text h2 {
    font-size: 22px;
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text p {
    font-size: 15px;
    margin-top: -20px;
    padding-bottom: 15px;
  }

  .vaccination-list .views-field-body .field-content {
    width: 100%;
    margin-top: 0;
  }

  .vaccination-list .views-field-body {
    margin-top: 0;
  }

  .care .care-section {
    flex-wrap: wrap;
  }

  .care .care-section .care-left {
    width: 100%;
  }

  .care .care-section .care-left::before {
    right: 95px;
  }

  .care .care-section .care-left img {
    height: auto;
  }

  .care .care-section .care-right {
    width: 100%;
    padding-bottom: 8px;
  }

  .care .care-section .care-right a {
    font-size: 8px;
    padding: 5px;
  }

  .care .care-section .care-right a:hover {
    background-color: #0ba0cd;
    transition: all 1s;
  }

  .care .care-section .care-right .care-heading h1 {
    font-size: 18px;
  }

  .care .care-section .care-right .care-heading p {
    font-size: 12px;
    margin-top: 2px;
  }

  .team {
    background-color: #ECF87F;
  }

  .team .team-section .team-heading h1 {
    font-size: 22px;
  }

  .team .team-section .team-heading p {
    font-size: 11px;
    margin-top: -12px;
  }

  .team .team-section .team-list {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .team .team-section .team-list li {
    width: 100%;
    padding-bottom: 20px;
  }

  .team .team-section .team-list li .team-text h2 {
    font-size: 18px;
  }

  .team .team-section .team-list li .team-text h3 {
    font-size: 17px;
  }

  .team .team-section .team-list li .team-text .team-text-list {
    margin-left: 34px;
    margin-top: -10px;
  }

  .team .team-section .team-list li .team-text .team-text-list li img {
    max-width: 22px;
  }

  .info .info-section .info-list {
    flex-wrap: wrap;
    padding: 0;
  }

  .info .info-section .info-list li {
    width: 100%;
    padding: 0 20px;
  }

  .info .info-section .info-list li .info-list-img img {
    max-width: 130px;
  }

  .info .info-section .info-list li .info-text span {
    font-size: 22px;
  }

  .info .info-section .info-list li .info-text h2 {
    font-size: 20px;
  }

  .post .post-section .post-heading h1 {
    font-size: 22px;
  }

  .post .post-section .post-heading p {
    font-size: 11px;
    margin-top: -12px;
  }

  .post .post-section .post-list {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .post .post-section .post-list li {
    width: 100%;
    padding-bottom: 20px;
  }

  .post .post-section .post-list li .post-text h2 {
    font-size: 12px;
  }

  .post .post-section .post-list li .post-text h3 {
    font-size: 11px;
    margin-top: 0px;
  }

  .post .post-section .post-list li .post-text p {
    font-size: 11px;
  }

  .post .post-section .post-list li .post-text span {
    font-size: 14px;
  }

  .contact .contact-content .contact-heading h1 {
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .contact .contact-content .contact-heading p {
    font-weight: 400;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 0px;
  }

  .contact .contact-content .contact-main {
    display: flex;
    flex-wrap: wrap;
  }

  .contact .contact-content .contact-main .contact-left {
    width: 100%;
  }

  .contact .contact-content .contact-main .contact-left h4 {
    font-size: 15px;
  }

  .contact .contact-content .contact-main .contact-left .contact-list {
    padding: 0;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li {
    margin-bottom: 30px;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li h3 {
    font-size: 12px;
    color: white;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li h3 i {
    color: #59981A;
  }

  .contact .contact-content .contact-main .contact-right {
    width: 100%;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
    display: flex;
    justify-content: space-between;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
    min-height: 100px;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
    min-height: 100px;
  }

  .contact .contact-content .contact-main .contact-right .update-button a {
    padding: 13px 107px;
    font-size: 15px;
  }

  .contact .contact-content .contact-main .contact-right .update-button a:hover {
    background-color: #0ba0cd;
    transition: all 1s;
  }

  .banner-top .banner-top-section h1 {
    font-size: 25px;
  }

  .banner-top .banner-top-section h2 {
    font-size: 18px;
  }

  .hiking .hiking-section h1 {
    font-size: 18px;
  }

  .hiking .hiking-section p {
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 2px;
  }

  .hiking .hiking-section .main-hiking .share h3 {
    font-size: 15px;
    margin-top: 20px;
  }

  .hiking .hiking-section .main-hiking .share-list {
    margin-left: 0px;
    display: flex;
  }

  .hiking .hiking-section .main-hiking .share-list li {
    padding: 8px;
  }

  .hiking .hiking-section .main-hiking .share-list li a i {
    font-size: 20px;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
    color: #6db106;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
    color: blue;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
    color: #1282a7;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
    color: #c03eebbf;
  }

  .hiking .hiking-section .main-hiking .share-list li:hover {
    transform: scale(1.3);
    transition: all 0.6s;
  }


  .view-header h2 {
    font-size: 35px;
  }

  .view-header p {
    font-size: 12px;
    line-height: 29px;
  }

  .item-list .post-list li {
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .post-list li h3 {
    font-size: 12px;
  }

  .post-list li p {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 28px;
  }

  .item-list .vaccination-list {
    flex-wrap: wrap;
  }

  .item-list .vaccination-list li {
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .item-list .vaccination-list li h3 {
    font-size: 16px;
  }

  .item-list .vaccination-list li p {
    font-size: 12px;
    line-height: 18px;
  }

  .views-col {
    flex-wrap: wrap;
  }

  .view-col .views-field-body .field-content {
    padding: 0;
    margin-top: -80px;
  }

  .view-col .views-field-body .field-content p:nth-child(2) {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 14px;
    margin-top: -20px;
  }

  .views-field-body {
    width: 100%;
  }

  .views-field-field-image {
    width: 100%;
  }

  .field-content p {
    margin-top: 0px;
  }

  .slide__caption {
    flex-wrap: wrap;
  }

  .slide__overlay {
    width: 100%;
    min-width: 250px;
    margin-left: -24px;
  }

  .slide__data {
    width: 100%;
  }

  .slide__overlay h1 {
    font-size: 20px;
  }

  .slide__overlay p {
    font-size: 16px;
    letter-spacing: 1;
    line-height: 30px;
  }

  .slide__data .field-content img {
    min-width: 240px;
    margin-left: -26px;
  }

  .views-field-field-image {
    margin-left: 0px;
  }

  .read-button {
    bottom: 2px;
    font-size: small;
  }

  #search-block-form {
    display: none;
  }

  .post-list li {
    margin: 0;
    padding: 15px;
  }

  .post-list .views-field-body p {
    line-height: 29px;
    ;
  }

  .page-title {
    font-size: 31px;
  }

  .field--type-text-with-summary p {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 37px;
  }

  .path-contact .side-con {
    flex-wrap: wrap;
  }

  .path-contact .sidebar-first,
  .path-contact .sidebar-second {
    width: 100%;
  }

  .path-contact .sidebar-first .view-row,
  .path-contact .sidebar-second .view-row {
    padding: 30px;
  }

  .path-contact .sidebar-first .field-content a,
  .path-contact .sidebar-second .field-content a {
    font-size: 20px
  }

  .form-text {
    width: 89%;
    margin-left: 0;
  }

  .form-email {
    width: 89%;
    margin-left: 0;
  }

  footer .footer-section .left {
    width: 100%;
  }

  footer .footer-section .Middle {
    width: 100%;
  }

  footer .footer-section .right {
    width: 100%;
  }

  #block-vetenary-main-menu {
    width: auto;
  }

  footer .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  footer .footer-section {
    flex-wrap: wrap;
  }

  footer .about .footer-section h1 {
    font-size: 23px;
  }

  footer .about .footer-section .left {
    width: 100%;
  }

  footer .about .footer-section .left .left-list li a {
    font-size: 16px;
  }

  footer .about .footer-section .middle {
    width: 100%;
  }

  footer .about .footer-section .middle .middle-list li a {
    font-size: 16px;
  }

  footer .about .footer-section .right {
    width: 100%;
    text-align: right;
  }

  footer .about .footer-section .right .right-heading h2 {
    font-size: 23px;
  }

  footer .about .footer-section .right .right-heading p {
    font-size: 13px;
  }

  footer .about .footer-section .right .footer-search form input[type="search"] {
    height: 36px;
  }

  footer .about .footer-section .right .footer-list li img {
    max-width: 30px;
  }
}

/* ipad responsive */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header .header-inner .header-content .logo {
    width: 35%;
  }

  header .header-inner .header-content .header-list {
    width: 65%;
  }

  header .header-inner .header-content .header-list li {
    padding: 0 9px;
  }

  header .header-inner .header-content .header-list li .search {
    display: none;
  }

  header .header-inner .header-content .header-list li .search form {
    width: 100%;
    position: relative;
  }

  header .header-inner .header-content .header-list li .search form .search-button {
    width: 52px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: 0;
    background: #59981A;
  }

  header .header-inner .header-content .header-list li .search form .search-button::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 26px;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    background: url("/images/Search Button.png") no-repeat;
  }

  header .header-inner .header-content .header-list li .search form .search-section span {
    position: absolute;
    left: 19px;
    top: 5px;
    align-items: center;
    font-size: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  header .header-inner .header-content .header-list li .search form input[type="search"] {
    background: #81B622;
    height: 42px;
    padding: 6px 153px 34px -48px;
    width: 80%;
    outline: none;
    border: 0;
    margin: 0;
    color: #ECF87F;
    font-weight: 700;
    font-size: 15px;
  }

  header .header-inner .header-content .header-list a {
    font-size: 18px;
  }

  header .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 154px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: none;
    z-index: 999;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }


  .banner .banner-list li {
    display: flex;
    flex-wrap: wrap;
  }

  .banner .banner-list .banner-left {
    width: 100%;
    margin-top: 31px;
    padding-bottom: 40px;
  }

  .banner .banner-list .banner-left .banner-heading h1 {
    font-size: 32px;
  }

  .banner .banner-list .banner-left .banner-heading p {
    font-size: 18px;
    margin-top: 0px;
  }

  .banner .banner-list .banner-left .button-list {
    padding: 0;
    display: flex;
  }

  .banner .banner-list .banner-left .button-list li a {
    font-size: 14px;
    padding: 11px;
  }

  .banner .banner-list .banner-left .button-list li a:hover {
    background-color: #0ba0cd;
    border: 2px solid #0ba0cd;
    transition: all 1s;
    box-shadow: 2px 3px 6px #0ba0cd;
  }

  .banner .banner-list .banner-left .button-list li:nth-child(2) {
    margin-left: 20px;
  }

  .banner .banner-list .banner-right {
    width: 100%;
    text-align: right;
  }

  .banner .banner-list .banner-right img {
    max-width: 960px;
    height: 500px;
  }

  .banner .fa-angle-left {
    top: 51%;
  }

  .services .service-sub-heading h1 {
    font-size: 50px;
  }

  .services .services-section {
    display: flex;
    flex-wrap: wrap;
  }

  .services .services-section .services-left {
    width: 100%;
    padding-bottom: 17px;
  }

  .services .services-section .services-left a {
    font-size: 14px;
    padding: 11px;
  }

  .services .services-section .services-left .services-heading h1 {
    font-size: 35px;
  }

  .services .services-section .services-left .services-heading p {
    font-size: 21px;
    margin-top: 0px;
  }

  .services .services-section .services-right {
    width: 100%;
  }

  .services .services-section .services-right::before {
    left: 168px;
  }

  .vaccination .vaccination-section .vaccination-heading h1 {
    font-size: 45px;
  }

  .vaccination .vaccination-section .vaccination-heading p {
    font-size: 21px;
    margin-top: 0px;
  }

  .vaccination .vaccination-section .vaccination-list {
    flex-wrap: wrap;
  }

  .vaccination .vaccination-section .vaccination-list li {
    width: calc(50% - 64px);
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text {
    text-align: center;
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text h2 {
    font-size: 30px;
  }

  .vaccination .vaccination-section .vaccination-list li .vaccination-text p {
    font-size: 20px;
    margin-top: -20px;
  }

  .care .care-section {
    flex-wrap: wrap;
  }

  .care .care-section .care-left {
    width: 100%;
  }

  .care .care-section .care-left::before {
    right: 169px;
  }

  .care .care-section .care-right {
    width: 100%;
    padding-bottom: 8px;
  }

  .care .care-section .care-right a {
    font-size: 14px;
    padding: 11px;
  }

  .care .care-section .care-right a:hover {
    background-color: #0ba0cd;
    transition: all 1s;
  }

  .care .care-section .care-right .care-heading h1 {
    font-size: 35px;
  }

  .care .care-section .care-right .care-heading p {
    font-size: 21px;
  }

  .team .team-section .team-heading h1 {
    font-size: 45px;
  }

  .team .team-section .team-heading p {
    font-size: 21px;
  }

  .team .team-section .team-list {
    flex-wrap: wrap;
  }

  .team .team-section .team-list li {
    width: calc(50% - 30px);
    padding-bottom: 20px;
  }

  .team .team-section .team-list li .team-text h2 {
    font-size: 23px;
  }

  .team .team-section .team-list li .team-text h3 {
    font-size: 21px;
  }

  .team .team-section .team-list li .team-text .team-text-list {
    margin-left: 46px;
    margin-top: -10px;
  }

  .team .team-section .team-list li .team-text .team-text-list li img {
    max-width: 30px;
  }

  .info .info-section .info-list {
    flex-wrap: wrap;
  }

  .info .info-section .info-list li {
    width: calc(50% - 40px);
    padding: 0 20px;
  }

  .info .info-section .info-list li .info-list-img img {
    max-width: 130px;
  }

  .info .info-section .info-list li .info-text span {
    font-size: 30px;
  }

  .info .info-section .info-list li .info-text h2 {
    font-size: 27px;
  }

  .post .post-section .post-heading h1 {
    font-size: 45px;
  }

  .post .post-section .post-heading p {
    font-size: 21px;
    margin-top: -20px;
  }

  .post .post-section .post-list {
    flex-wrap: wrap;
  }

  .post .post-section .post-list li {
    width: calc(50% - 30px);
    padding-bottom: 20px;
  }

  .post .post-section .post-list li .post-text h2 {
    font-size: 20px;
  }

  .post .post-section .post-list li .post-text h3 {
    font-size: 15px;
  }

  .post .post-section .post-list li .post-text p {
    font-size: 15px;
  }

  .post .post-section .post-list li .post-text span {
    font-size: 18px;
  }

  .contact .contact-content .contact-heading h1 {
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .contact .contact-content .contact-heading p {
    font-weight: 400;
    color: white;
    font-size: 16px;
    margin-top: 0px;
  }

  .contact .contact-content .contact-main {
    display: flex;
    flex-wrap: wrap;
  }

  .contact .contact-content .contact-main .contact-left {
    width: 100%;
  }

  .contact .contact-content .contact-main .contact-left h4 {
    color: white;
    font-size: 21px;
    font-weight: bold;
  }

  .contact .contact-content .contact-main .contact-left .contact-list {
    padding: 0;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li {
    margin-bottom: 30px;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li h3 {
    font-size: 16px;
    color: white;
  }

  .contact .contact-content .contact-main .contact-left .contact-list li h3 i {
    color: #59981A;
  }

  .contact .contact-content .contact-main .contact-right {
    width: 100%;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
    display: flex;
    justify-content: space-between;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
    min-height: 100px;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }

  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
    min-height: 100px;
  }

  .contact .contact-content .contact-main .contact-right .update-button {
    width: 100%;
    display: inline-flex;
  }

  .contact .contact-content .contact-main .contact-right .update-button a {
    border: 2px solid #ECF87F;
    color: #ECF87F;
    padding: 13px 162px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    border-radius: 3px;
    margin-top: 29px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 17px;
  }

  .contact .contact-content .contact-main .contact-right .update-button a:hover {
    background-color: #0ba0cd;
    transition: all 1s;
  }

  .banner-top .banner-top-section h1 {
    font-size: 45px;
  }

  .banner-top .banner-top-section h2 {
    font-size: 23px;
  }

  .hiking .hiking-section h1 {
    font-size: 30px;
  }

  .hiking .hiking-section p {
    font-size: 22px;
  }

  .hiking .hiking-section .main-hiking .share h3 {
    font-size: 25px;
  }

  .hiking .hiking-section .main-hiking .share-list {
    margin-left: 20px;
  }

  .hiking .hiking-section .main-hiking .share-list li {
    padding: 8px;
  }

  .hiking .hiking-section .main-hiking .share-list li a i {
    font-size: 40px;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
    color: #6db106;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
    color: blue;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
    color: #1282a7;
  }

  .hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
    color: #c03eebbf;
  }

  .hiking .hiking-section .main-hiking .share-list li:hover {
    transform: scale(1.3);
    transition: all 0.6s;
  }

  .view-header h2 {
    font-size: 40px;
  }

  .view-header p {
    font-size: 18px;
  }

  .item-list .post-list li {
    width: calc(50% - 30px);
  }

  .post-list li h3 {
    font-size: 16px;
  }

  .post-list li p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .item-list .vaccination-list {
    flex-wrap: wrap;
  }

  .item-list .vaccination-list li {
    width: calc(50% - 30px);
  }

  .item-list .vaccination-list li h3 {
    font-size: 25px;
  }

  .item-list .vaccination-list li p {
    font-size: 17px;
    line-height: 23px;
  }

  .views-col {
    flex-wrap: wrap;
  }

  .views-field-body {
    width: 100%;
  }

  .views-field-field-image {
    width: 100%;
  }

  .field-content p {
    margin-top: 0px;
  }

  .slide__caption {
    flex-wrap: wrap;
  }

  .slide__overlay {
    width: 100%;
  }

  .slide__data {
    width: 100%;
  }

  .read-button {
    bottom: 2px;
    font-size: small;
  }

  .page-title {
    font-size: 35px;
  }

  .field--type-text-with-summary p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 42px;
  }

  #search-block-form {
    display: none;
  }

  .path-contact .side-con {
    flex-wrap: wrap;
  }

  .path-contact .sidebar-first,
  .path-contact .sidebar-second {
    width: 100%;
  }

  .path-contact .sidebar-first .view-row,
  .path-contact .sidebar-second .view-row {
    padding: 30px;
  }

  .path-contact .sidebar-first .field-content a,
  .path-contact .sidebar-second .field-content a {
    font-size: 18px;

  }

  footer .footer-section .left {
    width: 50%;
  }

  footer .footer-section .Middle {
    width: 50%;
  }

  footer .footer-section .right {
    width: 100%;
  }

  footer .footer-section {
    flex-wrap: wrap;
  }

  footer .about .footer-section h1 {
    font-size: 30px;
  }

  footer .about .footer-section .left {
    width: 50%;
  }

  footer .about .footer-section .left .left-list li a {
    font-size: 20px;
  }

  footer .about .footer-section .middle {
    width: 50%;
  }

  footer .about .footer-section .middle .middle-list li a {
    font-size: 20px;
  }

  footer .about .footer-section .right {
    width: 100%;
    text-align: right;
  }

  footer .about .footer-section .right .right-heading h2 {
    font-size: 30px;
  }

  footer .about .footer-section .right .right-heading p {
    font-size: 20px;
  }

  footer .about .footer-section .right .footer-search form input[type="search"] {
    height: 50px;
  }

  footer .about .footer-section .right .footer-list li img {
    max-width: 40px;
  }
}

.site-logo img {
  max-width: 88px;
}

.slick-track {
  background-color: white;
}

/* flexslider */
.flexslider .flex-caption {
  position: absolute;
  font-size: 60px;
  color: #fff;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center
}

.flex-control-nav li a {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50px;
  outline: 0
}

.flex-control-nav li a.flex-active {
  background: #3199dc
}

.flex-control-nav {
  bottom: 20px
}

.flex-direction-nav a::before {
  font-size: 34px
}

.flexslider {
  overflow: hidden
}
