@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.wrapper{
    max-width: 1300px;
    padding: 0 60px;
    margin: 0 auto;
    overflow: hidden;
    
  }
body{
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    margin:0;
    padding:0;
   
   
    
}
ul{
    list-style: none;
    padding:0;
}
.bullet-button{
    list-style: circle !important;
}

img{
    width:100%;
    height:auto;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 35px;
    font-weight: 400;
}
.about-us-heading{
   
    padding-bottom: 100px;
}

table{
    width: 100%;
}
table, th, td {
    border:1px solid black;
}
th{
    background-color: #59981A;
}
td{
    
    text-align: center;
}
// form{
//     max-width: 1300px;
//     padding: 0 60px;
    
// }
input[type="text"],
    input[type="email"],
    textarea,
    select {
        max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;

    margin: 15px 0;
    border: 1px solid #ccc;

    border-radius: 0;
    box-shadow: none;

    }
textarea{
    min-height: 100px;
}



$primaryColor:#81B622;
$secondaryColor:#ECF87F;
$primaryButtonColor:#59981A;
$hoverButtonColor:#3D550C;
$fontColor:#313243;
$mainFont: 'Poppins', sans-serif;


header{
    background-color: #3D550C;
    font-family: $mainFont;
    .navbar{
        display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

        .nav-logo{
            font-size: 2.1rem;
            font-weight: 500;
            color: $secondaryColor;
        }
       
            .nav-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav-item{
                    margin-left: 5rem;
                    .search{
                        position: relative;
                        margin-right: -23px;
                        form{
                            width: 100%;
                            position: relative;
                            .search-button{
                                width: 52px;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                outline: none;
                                border: 0;
                                background: $primaryButtonColor;
                                &::after{
                                    content: "";
                                    position: absolute;
                                    width: 23px;
                                    height: 26px;
                                    top: 50%;
                                    margin-top: -13px;
                                    left: 50%;
                                    margin-left: -13px;
                                    background: url("/images/Search\ Button.png") no-repeat ;
                                }
                            }
                          
                            input[type="search"]{
                                background: $primaryColor;
                                height: 40px;
                                padding: 6px 153px 34px -48px;
                                /* border-radius: 3px; */
                                width: 100%;
                                outline: none;
                                border: 0;
                                margin: 0;
                                color: $secondaryColor;
                                font-weight: 700;
                                font-size: 15px;

                            }
                        }
                    }
                    .nav-link{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: $secondaryColor;
                        text-decoration: none;
                        
                        &:hover{
                            color: #59981A;
                        }
    
                    }
                
    
            }
        }
       
        .hamburger{
            display: none;
            .bar{
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: $secondaryColor;

            }
        }
    }
}
// header{
//     background-color: #daac00;
//     padding-top:20px;
//     padding-bottom:20px;
//     .header-inner{
//         .header-content{
//             display:flex;
//             justify-content: space-between;
//             .logo{
//                 width:20%;
//             }
//             .header-list{
//                 display: flex;
//                 justify-content: flex-end;               
//                 width: 80%; 
//                 padding:0;
//                 li{
//                     list-style: none;
//                     padding: 0 25px;
//                     display: flex;
//                     align-items: center;
//                     position: relative;
//                     .search{
//                         position: relative;
//                         margin-right: -23px;
//                         form{
//                             width: 100%;
//                             position: relative;
//                             // box-shadow: 0 8px 11px 1px rgb(6 6 7 / 34%);
//                             .search-button{
//                                 width: 52px;
//                                 height: 100%;
//                                 position: absolute;
//                                 top: 0;
//                                 right: 0;
//                                 outline: none;
//                                 border: 0;
//                                 background: $primaryButtonColor;
//                                 &::after{
//                                     content: "";
//                                     position: absolute;
//                                     width: 23px;
//                                     height: 26px;
//                                     top: 50%;
//                                     margin-top: -13px;
//                                     left: 50%;
//                                     margin-left: -13px;
//                                     background: url("/images/Search\ Button.png") no-repeat ;
//                                 }

//                             }
//                             .search-section{
//                                 span{
//                                     position: absolute;
//                                     left: 19px;
//                                     top: 5px;
//                                     align-items: center;
//                                     font-size: 21px;
//                                     /* letter-spacing: 0px; */
//                                     color: #ffffff;
//                                     font-weight: 400;
//                                     font-family: $mainFont;
//                                 }
//                             }
//                             input[type="search"]{
//                                 background: $primaryColor;
//                                 height: 42px;
//                                 padding: 6px 153px 34px -48px;
//                                 /* border-radius: 3px; */
//                                 width: 80%;
//                                 outline: none;
//                                 border: 0;
//                                 margin: 0;
//                                 color: $secondaryColor;
//                                 font-weight: 700;
//                                 font-size: 15px;
//                             }
//                         }
//                     }
//                 }
//                 a{
//                     font-size: 29px;
//                     color: #ffffff;
//                     font-weight: 500;
//                     font-family: $mainFont;
//                     text-decoration: none;
//                     &:hover{
//                         color:$primaryButtonColor;
//                         font-weight: 900;
//                     }
//                 }
//             }
//         }
//     }
// }

.banner{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color:$primaryColor;
    .banner-section{
        padding-bottom:30px;
    }
    .banner-list{
        position: relative;
        li{
            display:flex;
        }
        
        .banner-left{
            width:60%;
            margin-top: 31px;
           .banner-heading{
             h1{
                font-size: 50px;
                letter-spacing: 1px;
                color: #ffffff;
                font-weight: 600;
                font-family: $mainFont;
             }
             p{
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 35px;
                color: #ffffff;
                font-weight: 400;
                font-family: $mainFont;
                margin-top: -30px;
             }
           }
           .button-list{
            padding: 0;
            display: flex;
            li{
                a{
                    text-decoration: none;
                    font-size: 16px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    font-weight: 600;
                    font-family: $mainFont;
                    border: 2px solid #fff;
                    padding: 9px;
                    border-radius: 5px;
                    &:hover{
                        background-color: $hoverButtonColor;
                        border: 2px solid $hoverButtonColor;
                        transition: all 1s;
                        box-shadow: 2px 3px 6px $hoverButtonColor;
                    }
                }
                &:nth-child(2){
                    margin-left:20px;
                }
            }
           }
        }
        .banner-right{
            width:40%;
            text-align: right;
           img{
            max-width: 960px;
            height: 500px;
           }
        }
    }
    .fa-angle-left{
        font-size: 40px;
    background-color: $primaryButtonColor;
    color: white;
    padding: 10px 20px;
    /* margin: 10px; */
    border-radius: 10px;
    position: absolute;
    top: 47%;
    left: -57px;
    }
    .fa-angle-right{
        font-size: 40px;
    background-color: $primaryButtonColor;
    color: white;
    padding: 10px 20px;
    /* margin: 10px; */
    border-radius: 10px;
    position: absolute;
    bottom: 41%;
    right: -60px;

    }
}

.services{
    padding-bottom: 100px;
    background-color: $secondaryColor;
    .service-sub-heading{
        h1{
            text-align: center;
            font-size: 50px;
            color: $fontColor;
        }
    }
    .services-section{
        display:flex;
        .services-left{
            width:60%;
            padding-bottom: 17px;
            a{
                text-decoration: none;
                font-size: 16px;
              letter-spacing: 0px;
              color: #ffffff;
              font-weight: 600;
              font-family: $mainFont;
              background-color: $primaryColor;
              padding: 13px;
              border-radius: 5px;
            }
           .services-heading{
                padding-bottom: 20px;
               h1{
                font-size: 38px;
                color: $fontColor;
                font-weight: 600;
                font-family: $mainFont;
               }
               p{
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 35px;
                color: $fontColor;
                font-weight: 400;
                font-family: $mainFont;
                margin-top: -22px;
               }
           }
           .button:hover{
            background-color: $primaryButtonColor;
            transition: all 1s;
            box-shadow: 2px 3px 6px $hoverButtonColor;
           }
        }
        .services-right{
            width:40%;
            text-align: right;
            position: relative;
            margin-bottom:20px;
            margin-left:150px;
            &::before{
                content: '';
                width: 187px;
                height: 165px;
               
                /* right: 278px; */
                left: -20px; 
                bottom: -16px;
                position: absolute;
                z-index: 1;
                background-color:$primaryColor ;
              }
          img{
            height: 400px;
            max-width: 456px;
            z-index: 1;
            position: relative;
          }
        }
    }
}

.vaccination{
    background-color: $primaryColor;
    padding-bottom: 30px;
    .vaccination-section{
        .vaccination-heading{
            text-align: center;
            h1{
                font-size: 50px;
                color: #ffffff;
                font-weight: 700;
                font-family: $mainFont;
                text-align: center;
            }
            p{
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 35px;
                color: #ffffff;
                font-weight: 400;
                font-family: $mainFont;
                text-align: center;
                margin-top: -39px;
                margin-bottom: 60px;

            }
        }
        .vaccination-list{
            display: flex;
            padding:0;
            margin: 0 -32px;
          li{
            width: calc(33.33% - 64px);
            padding: 0 32px;
            
              .vaccination-img{
                &:hover{
                    transform: scale(1.1);
                    transition: all 2s;
                }
                  img{

                  }
              }
              .vaccination-text{
                text-align: center;
                  h2{
                    font-size: 30px;
                    color: #ffffff;
                    font-weight: 600;
                    font-family: $mainFont;
                  }
                  p{
                    font-size: 20px;
                    letter-spacing: 4px;
                    line-height: 35px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: $mainFont;
                    margin-top: -20px;
                  }
              }
          }
        }
    }
}

.care{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $secondaryColor;
    .care-section{
        display:flex;
        .care-left{
            width:35%;
            position: relative;
            margin-bottom:20px;
            &::before{
                content: '';
                width: 187px;
                height: 165px;
                /* right: 278px; */
                right: -20px;
                bottom: -20px;
                position: absolute;
                z-index: 1;
                background-color:$primaryColor ;
            }
          img{
            height:400px;
            max-width: 456px;
            z-index: 1;
            position: relative;
          }
        }
        .care-right{
            width:65%;
            text-align: right;
            margin-top: 12px;
            a{
                text-decoration: none;
                font-size: 16px;
              letter-spacing: 0px;
              color: #ffffff;
              font-weight: 600;
              font-family: $mainFont;
              background-color: $primaryColor;
              padding: 13px;
              border-radius: 5px;
              &:hover{
                background-color: $primaryButtonColor;
                transition: all 1s;
              }
            }
           .care-heading{
            padding-bottom: 20px;
               h1{
                font-size: 38px;
                color: $fontColor;
                font-weight: 600;
                font-family: $mainFont;
                text-align: right;
               }
               p{
                font-size: 20px;
                letter-spacing: 5px;
                line-height: 35px;
                color: $fontColor;
                font-weight: 400;
                font-family: $mainFont;
                margin-top: -22px;
               }
           }
        }
    }
}

.team{
    background-color: $secondaryColor;
    padding-top:40px;
    padding-bottom:80px;
    .team-section{
        .team-heading{
            padding-bottom:20px;
         h1{
            font-size: 50px;
            color: $fontColor;
            font-weight: 700;
            font-family: $mainFont;
            text-align: center;
         }
         p{
            font-size: 20px;
            letter-spacing: 4px;
            line-height: 35px;
            color: $fontColor;
            font-weight: 400;
            font-family: $mainFont;
            text-align: center;
            margin-top: -30px;
         }
        }
        .team-list{
            display: flex;
            padding:0;
            margin: 0 -15px;
            padding-bottom: 20px;
          li{
            width: calc(33.33% - 30px);
            padding: 0 15px;
            
              .team-img{
                &:hover{
                    transform: scale(1.05);
                    transition: all 3s;
                }
                  img{

                  }
              }
              .team-text{
                  h2{
                    font-size: 25px;
                    color: $fontColor;
                    font-weight: 700;
                    font-family: $mainFont;
                    text-align: center;
                  }
                  h3{
                    font-size: 20px;
                    line-height: 35px;
                    color: $fontColor;
                    font-weight: 400;
                    font-family: $mainFont;
                    text-align: center;
                    /* margin: 0; */
                    margin-top: -23px;
                  }
                  .team-text-list{
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    margin-left: 46px;
                    margin-top: -10px;
                      li{
                        padding:0;
                          img{
                            max-width: 35px;
                            &:hover{
                                transform: scale(1.3);
                                transition: all 0.6s;
                            }
                          }
                      }
                  }
              }
          }
        }
    }
}

.info{
    position: relative;
    text-align: center;
    background-color: $primaryColor;
    background-size: cover;
    padding:40px 0;
    .info-section{
        position: relative;
        .info-list{
            margin:0 -20px;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            li{
                width:calc(33.33% - 40px);
                padding:0 20px;
                &:nth-child(3) img{
                    max-width: 145px;
                }
                .info-list-img{
                    img{
                        max-width: 167px;
                    }
                }
                .info-text{
                    text-align: center;
                    span{
                        font-size: 30px;
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $mainFont;
                    }
                    h2{
                        font-size: 32px;
                        color: #ffffff;
                        font-weight: 700;
                        font-family: $mainFont;
                    }
                }
            }
        }
    }
}

.post{
    padding-top:40px;
    padding-bottom:80px;
    background-color: $secondaryColor;
    .post-section{
        .post-heading{
            padding-bottom:20px;
            h1{
                font-size: 50px;
                color: $fontColor;
                font-weight: 700;
                font-family: $mainFont;
                text-align: center;
            }
            p{
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 35px;
                color: $fontColor;
                font-weight: 400;
                font-family: $mainFont;
                text-align: center;
                margin-top: -34px;
            }
        }
        .post-list{
            display: flex;
            flex-wrap: wrap;
            padding:0;
            margin: 0 -15px;
            padding-bottom: 20px;
            li{
                width: calc(33.33% - 30px);
                padding: 0 15px;
                padding-bottom: 30px;
                .post-img{
                    img{

                    }
                }
                .post-text{
                    border-right: 2px solid $primaryColor;
                    border-bottom: 2px solid $primaryColor;
                    border-left: 2px solid $primaryColor;
                    padding-bottom: 12px;
                    padding: 16px;
                    h2{
                        margin-top: 0;
                        font-size: 20px;
                        color: $fontColor;
                        font-weight: 600;
                        font-family: $mainFont;

                    }
                    h3{
                        font-size: 15px;
                        color: $primaryButtonColor;
                        font-weight: 400;
                        font-family: $mainFont;
                        margin-top: -14px;

                    }
                    p{
                        font-size: 15px;
                        line-height: 29px;
                        letter-spacing: 2px;
                        color: $fontColor;
                        font-weight: 400;
                        font-family: $mainFont;

                    }
                    .read-button{
                        font-family: $mainFont;
                        text-decoration: none;
                        background-color:$primaryButtonColor;
                        padding: 0;
                        border: none;
                        color: white;
                        font-size: medium;
                        cursor: pointer;
                    }
                }
            }
        }
        a{
  
                color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 900;
    border: 2px solid;
    padding: 3px 24px;
    background-color:$primaryButtonColor;
            }
            
        }
    }

.contact{
    padding-top:20px;
   padding-bottom:20px;
   background-color: $primaryColor;
    .contact-content{
        padding-bottom: 80px;
        .contact-heading{
            position: relative;
            text-align: center;
            padding-bottom: 20px;
            h1{
                color: white;
                font-size: 50px;
                font-family: $mainFont;
                text-transform: uppercase;
                font-weight: bolder;

            }
            p{
                font-weight: 400;
                color: white;
                font-size: 20px;
                letter-spacing: 5px;
                line-height: 35px;
                margin-top: -39px;
            }
        }
        .contact-main{
            display: flex;
            .contact-left{
                width:50%;
                h4{
                    color: white;
                    font-size: 21px;
                    font-weight: bold;

                }
                .contact-list{
                    padding: 0;
                    li{
                        margin-bottom: 30px;
                        h3{
                            font-size: 16px;
                            color: white;
                            i{
                                color:$primaryButtonColor
                            }
                            strong{

                            }
                        }
                    }
                }

            }
            .contact-right{
                width:50%;
               form{
                .form-parts{
                    .form-dis{
                        display: flex;
                        justify-content: space-between;
                        .form-items{
                            input[type="text"],
                            input[type="email"],
                            textarea,
                            select {
                            
                            max-height:2px;
                            font-size: 14px;
                            opacity: 78%;
                            outline: 0;
                            padding: 15px;
                            width: calc(100% - 30px);
                            background-color: white;
                            
                            margin: 15px 0;
                            border: 1px solid #ccc;
                            
                            border-radius: 0;
                            box-shadow: none;
                            
                            }
                            textarea{
                                min-height: 100px;
                             }
                        }
                    }
                    .form-items{
                        input[type="text"],
                        input[type="email"],
                        textarea,
                        select {
                        
                        max-height:2px;
                        font-size: 14px;
                        opacity: 78%;
                        outline: 0;
                        padding: 15px;
                        width: calc(100% - 30px);
                        background-color: white;
                        
                        margin: 15px 0;
                        border: 1px solid #ccc;
                        
                        border-radius: 0;
                        box-shadow: none;
                        
                        }
                        textarea{
                            min-height: 100px;
                         }
                    }
                }
               }
               .update-button{
                width: 100%;
                
                display: inline-flex;
                   a{
                    border: 2px solid $secondaryColor;
                    color: $secondaryColor;
                    padding: 13px 162px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-flex;
                    border-radius: 3px;
                    margin-top: 29px;
                    font-weight: 900;
                    /* width: 29%; */
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    font-size: 17px;
                    &:hover{
                        background-color: $hoverButtonColor;  
                        transition: all 1s;
                  }
                   }
               }
            }

        }
    }
}

.banner-top{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $primaryColor;
    .banner-top-section{
        h1{
            font-family: 'Poppins';
            text-align: center;
            font-size: 50px;
            font-weight: 900;
            margin: 0;
            color: white;
        }
        h2{
            font-family: 'Poppins';
            text-align: center;
            font-size: 30px;
            margin: 0;
            font-weight: normal;
            color: white;

        }
    }
}
.hiking{
    background-color: $secondaryColor;
    .hiking-section{
        max-width: 870px;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 50px;
        h1{
            font-size: 35px;
            font-family: 'Poppins';

        }
        p{
            font-size: 20px;
            letter-spacing: 4px;
            line-height: 50px;
            font-family: 'Poppins';

        }
        .main-hiking{
            display: flex;
            justify-content: flex-start;
            .share{

                h3{
                    font-size: 25px;
                    font-family: 'Poppins';
                    font-weight: 900;
                }
            }
            .share-list{
                margin-left: 20px;
                display: flex;
                
                li{
                    padding: 8px;
                    a{
                        i{
                            font-size:40px;
                        }
                        .fa-whatsapp-square{
                            color: #6db106;
                        }
                        .fa-twitter{
                            color: blue;
                        }
                        .fa-facebook{
                          color: #1282a7;;
                        }
                        .fa-instagram-square{
                            color: #c03eebbf;
                        }

                    }
                    &:hover{
                        transform: scale(1.3);
                        transition: all 0.6s;
                    }
                }

            }
        }
    }
}

footer{
    .about{
        background-color: #343434;
        padding-top:50px;
        padding-bottom:50px;
        .about-section{
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 30px;
                color: #ffffff;
                font-weight: 600;
                font-family: $mainFont;
            }
            .left{
                width: 29%;
                .left-heading{
                    h1{

                    }
                }
                .left-list{
                    padding:0;
                    li{
                        a{
                            text-decoration: none;
                            font-size: 20px;
                                line-height: 44px;
                                color: #ffffff;
                                font-weight: 400;
                                font-family: $mainFont;
                                &:hover{
                                    font-weight: 900;
                                    color:$secondaryColor;
                                }
                        }

                    }
                }

            }
            .middle{
                width: 29%;
                .middle-heading{
                    h1{

                    }
                }
                .middle-list{
                    padding:0;
                    li{
                        a{
                            text-decoration: none;
                            font-size: 20px;
                            line-height: 44px;
                            color: #ffffff;
                            font-weight: 400;
                            font-family: $mainFont;
                            &:hover{
                                font-weight: 900;
                                color:$secondaryColor;
                            }

                        }
                    }
                }

            }
            .right{
                width: 42%;
                text-align: right;
                .right-heading{
                    h2{
                        font-size: 30px;
                        line-height: 8px;
                        color: #ffffff;
                        font-weight: 600;
                        font-family: $mainFont;
                    }
                    p{
                        font-size: 17px;
                        line-height: 33px;
                        color: #ffffff;
                        font-weight: 400;
                        font-family: $mainFont;
                        text-align: right;

                    }
                }
                .footer-search{
                    position: relative;
                    form{
                        .footer-search-button{
                            width: 72px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            outline: none;
                            border: 0;
                            background: $primaryButtonColor;
                            &:after{
                                content: "";
                                position: absolute;
                                width: 23px;
                                height: 26px;
                                top: 50%;
                                margin-top: -13px;
                                left: 50%;
                                margin-left: -13px;
                                background: url(/images/msg.png) no-repeat ;
                            }

                        }
                        input[type="search"]{
                            background: $primaryColor;
                            height: 60px;
                            padding: 6px 153px 34px -48px;
                            /* border-radius: 3px; */
                            width: 100%;
                            outline: none;
                            border: 0;
                            margin: 0;
                            color: $secondaryColor;
                            font-weight: 700;
                            font-size: 15px;

                        }
                    }
                }
                .footer-list{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        padding: 5px;
                        img{
                            max-width: 44px;
                            &:hover{
                                transform: scale(1.3);
                                transition: all 0.6s;
                            }
                        }
                    }
                }

            }
        }

    }
}




/* mobile responsive */
@media only screen and (max-width: 768px) {
    header{
        #sidebar{
            position: relative;
        }
        .navbar{
            .nav-logo{
            }
            .nav-menu{
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                position: fixed;
                right:0;
                 top: 69px;
                padding:20px;
                background-color: none;
                z-index: 999;
                background-color: transparent;
                border-radius: 0;
                margin: 0;
            &:active{
                left: 0;
            }
                .nav-item{
                    margin: 2.5rem 0;
                    .nav-link{
                        font-size: 1.6rem;
                        font-weight: 400;
    
                    }
                    
                }
    
            }
                .nav-menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .nav-item{
                        margin: 0;
                        padding: 20px;
                        .nav-link{
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: $secondaryColor;
                            text-decoration: none;
                            
                            &:hover{
                                color: $primaryButtonColor;
                            }
        
                        }
                    
        
                }
            }
           
            .hamburger{
                display: block;
                cursor: pointer;
                .bar{
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    background-color: $secondaryColor;
                    
    
                }
            }
        }
    }
    #sidebar.hide{
        .nav-menu{
            display:none;
        }

    }
    #sidebar.show{
        .nav-menu{
            display:flex;
            background-color: $primaryButtonColor;
        }
        .search{
            display:none;
        }
        

    }
    

    // header{
    //     .header-inner{
    //         .header-content{
    //             .logo{
    //                 width:35%;
    //             }
    //             .header-list{             
    //                 width: 65%; 
    //                 li{
    //                     padding: 0 9px;
    //                     .search{
    //                         display: none;
    //                         form{
    //                             width: 100%;
    //                             position: relative;
    //                             // box-shadow: 0 8px 11px 1px rgb(6 6 7 / 34%);
    //                             .search-button{
    //                                 width: 52px;
    //                                 height: 100%;
    //                                 position: absolute;
    //                                 top: 0;
    //                                 right: 0;
    //                                 outline: none;
    //                                 border: 0;
    //                                 background: $primaryButtonColor;
    //                                 &::after{
    //                                     content: "";
    //                                     position: absolute;
    //                                     width: 23px;
    //                                     height: 26px;
    //                                     top: 50%;
    //                                     margin-top: -13px;
    //                                     left: 50%;
    //                                     margin-left: -13px;
    //                                     background: url("/images/Search\ Button.png") no-repeat ;
    //                                 }
    
    //                             }
    //                             .search-section{
    //                                 span{
    //                                     position: absolute;
    //                                     left: 19px;
    //                                     top: 5px;
    //                                     align-items: center;
    //                                     font-size: 21px;
    //                                     /* letter-spacing: 0px; */
    //                                     color: #ffffff;
    //                                     font-weight: 400;
    //                                     font-family: $mainFont;
    //                                 }
    //                             }
    //                             input[type="search"]{
    //                                 background: $primaryColor;
    //                                 height: 42px;
    //                                 padding: 6px 153px 34px -48px;
    //                                 /* border-radius: 3px; */
    //                                 width: 80%;
    //                                 outline: none;
    //                                 border: 0;
    //                                 margin: 0;
    //                                 color: $secondaryColor;
    //                                 font-weight: 700;
    //                                 font-size: 15px;
    //                             }
    //                         }
    //                     }
    //                 }
    //                 a{
    //                     font-size: 18px;
    //                 }
    //             }
    //         }
    //     }
    // }
    
    .banner{
        padding-top:0px;
        .banner-list{
            li{
                display:flex;
                flex-wrap: wrap;
            }
            .banner-left{
                width:100%;
                margin-top: 31px;
                padding-bottom: 40px;
               .banner-heading{
                 h1{
                    font-size: 20px;
                 }
                 p{
                    font-size: 11px;
                    margin-top: 0px;
                 }
               }
               .button-list{
                padding: 0;
                display: flex;
                li{
                    a{
                        font-size: 8px;
                        padding: 5px;
                        
                        &:hover{
                            background-color: $hoverButtonColor;
                            border: 2px solid $hoverButtonColor;
                            transition: all 1s;
                            box-shadow: 2px 3px 6px $hoverButtonColor;
                        }
                    }
                    &:nth-child(2){
                        margin-left:20px;
                    }
                }
               }
            }
            .banner-right{
                width:100%;
                text-align: right;
               img{
                height:auto;
               }
            }
        }
        .fa-angle-left{
            padding: 1px 8px;
        }
        .fa-angle-right{
            padding: 1px 8px;
        }
    }
    
    .services{
        .services-section{
            display:flex;
            flex-wrap: wrap;
            .services-left{
                width:100%;
                padding-bottom: 17px;
                a{
                    font-size: 8px;
                    padding: 5px;
                }
               .services-heading{
                   h1{
                    font-size: 18px;

                   }
                   p{
                    font-size: 12px;
                    margin-top: 0px;
                   }
               }
            }
            .services-right{
                width:100%;
                margin-left: 0px;
                &::before{
                    left: 87px;
                  }

                img{
                    height: auto;
                }
            }
        }
    }
    
    .vaccination{
        .vaccination-section{
            .vaccination-heading{
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 10px;
                    margin-top: -17px;
    
                }
            }
            .vaccination-list{
                flex-wrap:wrap;
              li{
                width: 100%;
                  .vaccination-img{
                      img{
    
                      }
                  }
                  .vaccination-text{
                    text-align: center;
                      h2{
                        font-size: 22px;
                      }
                      p{
                        font-size: 15px;
                        margin-top: -20px;
                        padding-bottom: 15px;
                      }
                  }
              }
            }
        }
    }
    
    .care{
        .care-section{
            flex-wrap: wrap;
            .care-left{
                width:100%;
                &::before{
                    right: 95px;
                }
              img{
                  height:auto;
              }
            }
            .care-right{
                width:100%;
                padding-bottom: 8px;
                a{
                    font-size: 8px;
                    padding: 5px;
                  &:hover{
                    background-color: $primaryButtonColor;
                    transition: all 1s;
                  }
                }
               .care-heading{
                   h1{
                    font-size: 18px;
                   }
                   p{
                    font-size: 12px;
                    margin-top:2px;
                   }
               }
            }
        }
    }
    
    .team{
        background-color: $secondaryColor;
        .team-section{
            .team-heading{
             h1{
                font-size: 22px;
             }
             p{
                font-size: 11px;
                margin-top:-12px;
             }
            }
            .team-list{
                flex-wrap: wrap;
                padding-top:20px;
              li{
                width: 100%;
                padding-bottom: 20px;
                  .team-img{
                      img{
    
                      }
                  }
                  .team-text{
                      h2{
                        font-size: 18px;

                      }
                      h3{
                        font-size: 17px;
                     
                      }
                      .team-text-list{
                        margin-left: 34px;
                        margin-top: -10px;
                          li{
                              img{
                                max-width: 22px;
                              }
                          }
                      }
                  }
              }
            }
        }
    }
    
    .info{
        .info-section{
            .info-list{
                flex-wrap: wrap;
                padding: 0;
                li{
                    width:100%;
                    padding:0 20px;
                    .info-list-img{
                        img{
                           max-width: 130px;
                        }
                    }
                    .info-text{
                        span{
                             font-size: 22px;
                        }
                        h2{
                           font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .post{
        .post-section{
            .post-heading{
                h1{
                   font-size: 22px;
                }
                p{
                    font-size: 11px;
                    margin-top: -12px;
                }
            }
            .post-list{
                flex-wrap: wrap;
                padding-top: 20px;
                li{
                    width: 100%;
                    padding-bottom: 20px;
                    .post-img{
                        img{
    
                        }
                    }
                    .post-text{
                        h2{
                            font-size: 12px;
    
                        }
                        h3{
                            font-size: 11px;
                            margin-top: 0px;
    
                        }
                        p{
                            font-size: 11px;
    
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .contact{
        .contact-content{
            .contact-heading{
                h1{
                    color: white;
                    font-size: 20px;
                    font-family: $mainFont;
                    text-transform: uppercase;
                    font-weight: bolder;
    
                }
                p{
                    font-weight: 400;
                    color: white;
                    font-size: 10px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    margin-top: 0px;
                }
            }
            .contact-main{
                display: flex;
                flex-wrap: wrap;
                .contact-left{
                    width:100%;
                    h4{
                        font-size: 15px;
    
                    }
                    .contact-list{
                        padding: 0;
                        li{
                            margin-bottom: 30px;
                            h3{
                                font-size: 12px;
                                color: white;
                                i{
                                    color:$primaryButtonColor
                                }
                                strong{
    
                                }
                            }
                        }
                    }
    
                }
                .contact-right{
                    width:100%;
                   form{
                    .form-parts{
                        .form-dis{
                            display: flex;
                            justify-content: space-between;
                            .form-items{
                                input[type="text"],
                                input[type="email"],
                                textarea,
                                select {
                                
                                max-height:2px;
                                font-size: 14px;
                                opacity: 78%;
                                outline: 0;
                                padding: 15px;
                                width: calc(100% - 30px);
                                background-color: white;
                                
                                margin: 15px 0;
                                border: 1px solid #ccc;
                                
                                border-radius: 0;
                                box-shadow: none;
                                
                                }
                                textarea{
                                    min-height: 100px;
                                 }
                            }
                        }
                        .form-items{
                            input[type="text"],
                            input[type="email"],
                            textarea,
                            select {
                            
                            max-height:2px;
                            font-size: 14px;
                            opacity: 78%;
                            outline: 0;
                            padding: 15px;
                            width: calc(100% - 30px);
                            background-color: white;
                            
                            margin: 15px 0;
                            border: 1px solid #ccc;
                            
                            border-radius: 0;
                            box-shadow: none;
                            
                            }
                            textarea{
                                min-height: 100px;
                             }
                        }
                    }
                   }
                   .update-button{
                       a{
                        padding: 13px 107px;
                        font-size: 15px;
                        &:hover{
                            background-color: $hoverButtonColor;  
                            transition: all 1s;
                      }
                       }
                   }
                }
    
            }
        }
    }
    
    .banner-top{
        .banner-top-section{
            h1{
                font-size: 25px;
            }
            h2{
                font-size: 18px;
    
            }
        }
    }
    .hiking{
        .hiking-section{
            h1{
                font-size: 18px;
    
            }
            p{
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 2px;
    
            }
            .main-hiking{
                
                .share{
    
                    h3{
                        font-size: 15px;
                        margin-top: 20px;
                    }
                }
                .share-list{
                    margin-left: 0px;
                    display: flex;
                    
                    li{
                        padding: 8px;
                        a{
                            i{
                                font-size:20px;
                            }
                            .fa-whatsapp-square{
                                color: #6db106;
                            }
                            .fa-twitter{
                                color: blue;
                            }
                            .fa-facebook{
                              color: #1282a7;;
                            }
                            .fa-instagram-square{
                                color: #c03eebbf;
                            }
    
                        }
                        &:hover{
                            transform: scale(1.3);
                            transition: all 0.6s;
                        }
                    }
    
                }
            }
        }
    }


    footer{
        .about{
            padding-top: 50px;
            padding-bottom: 50px;
            .about-section{
                flex-wrap: wrap;
                h1{
                    font-size: 23px;
                }
                .left{
                    width: 100%;
                    .left-heading{
                        h1{
    
                        }
                    }
                    .left-list{
                        li{
                            a{
                                font-size: 16px;
                            }
    
                        }
                    }
    
                }
                .middle{
                    width: 100%;
                    .middle-heading{
                        h1{
    
                        }
                    }
                    .middle-list{
                        li{
                            a{
                                font-size: 16px;
    
                            }
                        }
                    }
    
                }
                .right{
                    width: 100%;
                    text-align: right;
                    .right-heading{
                        h2{
                            font-size: 23px;
                        }
                        p{
                            font-size: 13px;
    
                        }
                    }
                    .footer-search{
                        form{
                            .footer-search-button{
                            }
                            input[type="search"]{
                                height: 36px;
                            }
                        }
                    }
                    .footer-list{
                        li{
                            img{
                                 max-width: 30px;
                                
                            }
                        }
                    }
    
                }
            }
    
        }
    }
    


}

/* ipad responsive */
@media screen and (max-width: 1024px) and (min-width: 768px){

    header{
        .header-inner{
            .header-content{
                .logo{
                    width:35%;
                }
                .header-list{             
                    width: 65%; 
                    li{
                        padding: 0 9px;
                        .search{
                            display: none;
                            form{
                                width: 100%;
                                position: relative;
                                // box-shadow: 0 8px 11px 1px rgb(6 6 7 / 34%);
                                .search-button{
                                    width: 52px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    outline: none;
                                    border: 0;
                                    background: $primaryButtonColor;
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        width: 23px;
                                        height: 26px;
                                        top: 50%;
                                        margin-top: -13px;
                                        left: 50%;
                                        margin-left: -13px;
                                        background: url("/images/Search\ Button.png") no-repeat ;
                                    }
    
                                }
                                .search-section{
                                    span{
                                        position: absolute;
                                        left: 19px;
                                        top: 5px;
                                        align-items: center;
                                        font-size: 21px;
                                        /* letter-spacing: 0px; */
                                        color: #ffffff;
                                        font-weight: 400;
                                        font-family: $mainFont;
                                    }
                                }
                                input[type="search"]{
                                    background: $primaryColor;
                                    height: 42px;
                                    padding: 6px 153px 34px -48px;
                                    /* border-radius: 3px; */
                                    width: 80%;
                                    outline: none;
                                    border: 0;
                                    margin: 0;
                                    color: $secondaryColor;
                                    font-weight: 700;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    .banner{
        .banner-list{
            
            li{
                display:flex;
                flex-wrap: wrap;
            }
            .banner-left{
                width:100%;
                margin-top: 31px;
                padding-bottom: 40px;
               .banner-heading{
                 h1{
                    font-size: 32px;
                 }
                 p{
                    font-size: 18px;
                    margin-top: 0px;
                 }
               }
               .button-list{
                padding: 0;
                display: flex;
                li{
                    a{
                        
                        font-size: 14px;
                        padding: 11px;
                        
                        &:hover{
                            background-color: $hoverButtonColor;
                            border: 2px solid $hoverButtonColor;
                            transition: all 1s;
                            box-shadow: 2px 3px 6px $hoverButtonColor;
                        }
                    }
                    &:nth-child(2){
                        margin-left:20px;
                    }
                }
               }
            }
            .banner-right{
                width:100%;
                text-align: right;
               img{
                max-width: 960px;
                height: 500px;
               }
            }
        }
        .fa-angle-left{
            top: 51%;
        }
    }
    
    .services{
        .service-sub-heading{
            h1{
                font-size: 50px;
            }
        }
        .services-section{
            display:flex;
            flex-wrap: wrap;
            .services-left{
                width:100%;
                padding-bottom: 17px;
                a{
                    font-size: 14px;
                    padding: 11px;
                }
               .services-heading{
                   h1{
                    font-size: 35px;

                   }
                   p{
                    font-size: 21px;
                    margin-top: 0px;
                   }
               }
            }
            .services-right{
                width:100%;
                &::before{
                left: 168px;
                  }
            }
        }
    }
    
    .vaccination{
        .vaccination-section{
            .vaccination-heading{
                h1{
                    font-size: 45px;
                }
                p{
                    font-size: 21px;
                    margin-top: 0px;
    
                }
            }
            .vaccination-list{
                flex-wrap:wrap;
              li{
                width: calc(50% - 64px);
                  .vaccination-img{
                      img{
    
                      }
                  }
                  .vaccination-text{
                    text-align: center;
                      h2{
                        font-size: 30px;
                      }
                      p{
                        font-size: 20px;
                        margin-top: -20px;
                      }
                  }
              }
            }
        }
    }
    
    .care{
        .care-section{
            flex-wrap: wrap;
            .care-left{
                width:100%;
                &::before{
                    right: 169px;
                }
              img{
              }
            }
            .care-right{
                width:100%;
                padding-bottom: 8px;
                a{
                    font-size: 14px;
                    padding: 11px;
                  &:hover{
                    background-color: $primaryButtonColor;
                    transition: all 1s;
                  }
                }
               .care-heading{
                   h1{
                    font-size: 35px;
                   }
                   p{
                    font-size: 21px;
                   }
               }
            }
        }
    }
    
    .team{
        .team-section{
            .team-heading{
             h1{
                font-size: 45px;
             }
             p{
                font-size: 21px;
             }
            }
            .team-list{
                flex-wrap: wrap;
              li{
                width: calc(50% - 30px);
                padding-bottom: 20px;
                  .team-img{
                      img{
    
                      }
                  }
                  .team-text{
                      h2{
                        font-size: 23px;

                      }
                      h3{
                        font-size: 21px;
                     
                      }
                      .team-text-list{
                        margin-left: 46px;
                        margin-top: -10px;
                          li{
                              img{
                                max-width: 30px;
                              }
                          }
                      }
                  }
              }
            }
        }
    }
    
    .info{
        .info-section{
            .info-list{
                flex-wrap: wrap;
                li{
                    width:calc(50% - 40px);
                    padding:0 20px;
                    .info-list-img{
                        img{
                           max-width: 130px;
                        }
                    }
                    .info-text{
                        span{
                             font-size: 30px;
                        }
                        h2{
                           font-size: 27px;
                        }
                    }
                }
            }
        }
    }
    
    .post{
        .post-section{
            .post-heading{
                h1{
                   font-size: 45px;
                }
                p{
                    font-size: 21px;
                    margin-top: -20px;
                }
            }
            .post-list{
                flex-wrap: wrap;
                li{
                    width: calc(50% - 30px);
                    padding-bottom: 20px;
                    .post-img{
                        img{
    
                        }
                    }
                    .post-text{
                        h2{
                            font-size: 20px;
    
                        }
                        h3{
                            font-size: 15px;
    
                        }
                        p{
                            font-size: 15px;
    
                        }
                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .contact{
        .contact-content{
            .contact-heading{
                h1{
                    color: white;
                    font-size: 40px;
                    font-family: $mainFont;
                    text-transform: uppercase;
                    font-weight: bolder;
    
                }
                p{
                    font-weight: 400;
                    color: white;
                    font-size: 16px;
                    margin-top: 0px;
                }
            }
            .contact-main{
                display: flex;
                flex-wrap: wrap;
                .contact-left{
                    width:100%;
                    h4{
                        color: white;
                        font-size: 21px;
                        font-weight: bold;
    
                    }
                    .contact-list{
                        padding: 0;
                        li{
                            margin-bottom: 30px;
                            h3{
                                font-size: 16px;
                                color: white;
                                i{
                                    color:$primaryButtonColor
                                }
                                strong{
    
                                }
                            }
                        }
                    }
    
                }
                .contact-right{
                    width:100%;
                   form{
                    .form-parts{
                        .form-dis{
                            display: flex;
                            justify-content: space-between;
                            .form-items{
                                input[type="text"],
                                input[type="email"],
                                textarea,
                                select {
                                
                                max-height:2px;
                                font-size: 14px;
                                opacity: 78%;
                                outline: 0;
                                padding: 15px;
                                width: calc(100% - 30px);
                                background-color: white;
                                
                                margin: 15px 0;
                                border: 1px solid #ccc;
                                
                                border-radius: 0;
                                box-shadow: none;
                                
                                }
                                textarea{
                                    min-height: 100px;
                                 }
                            }
                        }
                        .form-items{
                            input[type="text"],
                            input[type="email"],
                            textarea,
                            select {
                            
                            max-height:2px;
                            font-size: 14px;
                            opacity: 78%;
                            outline: 0;
                            padding: 15px;
                            width: calc(100% - 30px);
                            background-color: white;
                            
                            margin: 15px 0;
                            border: 1px solid #ccc;
                            
                            border-radius: 0;
                            box-shadow: none;
                            
                            }
                            textarea{
                                min-height: 100px;
                             }
                        }
                    }
                   }
                   .update-button{
                    width: 100%;
                    
                    display: inline-flex;
                       a{
                        border: 2px solid $secondaryColor;
                        color: $secondaryColor;
                        padding: 13px 162px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-flex;
                        border-radius: 3px;
                        margin-top: 29px;
                        font-weight: 900;
                        /* width: 29%; */
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        font-size: 17px;
                        &:hover{
                            background-color: $hoverButtonColor;  
                            transition: all 1s;
                      }
                       }
                   }
                }
    
            }
        }
    }

    .banner-top{
        .banner-top-section{
            h1{
                font-size: 45px;
            }
            h2{
                font-size: 23px;
    
            }
        }
    }
    .hiking{
        .hiking-section{
            h1{
                font-size: 30px;
    
            }
            p{
                font-size: 22px;
    
            }
            .main-hiking{
                
                .share{
    
                    h3{
                        font-size: 25px;
                    }
                }
                .share-list{
                    margin-left: 20px;
                    
                    li{
                        padding: 8px;
                        a{
                            i{
                                font-size:40px;
                            }
                            .fa-whatsapp-square{
                                color: #6db106;
                            }
                            .fa-twitter{
                                color: blue;
                            }
                            .fa-facebook{
                              color: #1282a7;;
                            }
                            .fa-instagram-square{
                                color: #c03eebbf;
                            }
    
                        }
                        &:hover{
                            transform: scale(1.3);
                            transition: all 0.6s;
                        }
                    }
    
                }
            }
        }
    }
    
    footer{
        .about{
            .about-section{
                flex-wrap: wrap;
                h1{
                    font-size: 30px;
                }
                .left{
                    width: 50%;
                    .left-heading{
                        h1{
    
                        }
                    }
                    .left-list{
                        li{
                            a{
                                font-size: 20px;
                            }
    
                        }
                    }
    
                }
                .middle{
                    width: 50%;
                    .middle-heading{
                        h1{
    
                        }
                    }
                    .middle-list{
                        li{
                            a{
                                font-size: 20px;
    
                            }
                        }
                    }
    
                }
                .right{
                    width: 100%;
                    text-align: right;
                    .right-heading{
                        h2{
                            font-size: 30px;
                        }
                        p{
                            font-size: 20px;
    
                        }
                    }
                    .footer-search{
                        form{
                            .footer-search-button{
                            }
                            input[type="search"]{
                                height: 50px;
                            }
                        }
                    }
                    .footer-list{
                        li{
                            img{
                                 max-width: 40px;
                                
                            }
                        }
                    }
    
                }
            }
    
        }
    }
    
}


@media only screen and (max-width: 1024px){
}