@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrapper {
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.bullet-button {
  list-style: circle !important;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  font-weight: 400;
}

.about-us-heading {
  padding-bottom: 100px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #59981A;
}

td {
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea,
select {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  width: calc(100% - 30px);
  background-color: white;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea {
  min-height: 100px;
}

header {
  background-color: #3D550C;
  font-family: "Poppins", sans-serif;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .navbar .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ECF87F;
}

header .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-menu .nav-item {
  margin-left: 5rem;
}

header .navbar .nav-menu .nav-item .search {
  position: relative;
  margin-right: -23px;
}

header .navbar .nav-menu .nav-item .search form {
  width: 100%;
  position: relative;
}

header .navbar .nav-menu .nav-item .search form .search-button {
  width: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  background: #59981A;
}

header .navbar .nav-menu .nav-item .search form .search-button::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  background: url("/images/Search Button.png") no-repeat;
}

header .navbar .nav-menu .nav-item .search form input[type="search"] {
  background: #81B622;
  height: 40px;
  padding: 6px 153px 34px -48px;
  /* border-radius: 3px; */
  width: 100%;
  outline: none;
  border: 0;
  margin: 0;
  color: #ECF87F;
  font-weight: 700;
  font-size: 15px;
}

header .navbar .nav-menu .nav-item .nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ECF87F;
  text-decoration: none;
}

header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #59981A;
}

header .navbar .hamburger {
  display: none;
}

header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ECF87F;
}

.banner {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #81B622;
}

.banner .banner-section {
  padding-bottom: 30px;
}

.banner .banner-list {
  position: relative;
}

.banner .banner-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner-list .banner-left {
  width: 60%;
  margin-top: 31px;
}

.banner .banner-list .banner-left .banner-heading h1 {
  font-size: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.banner .banner-list .banner-left .banner-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
}

.banner .banner-list .banner-left .button-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner-list .banner-left .button-list li a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
  padding: 9px;
  border-radius: 5px;
}

.banner .banner-list .banner-left .button-list li a:hover {
  background-color: #3D550C;
  border: 2px solid #3D550C;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 2px 3px 6px #3D550C;
          box-shadow: 2px 3px 6px #3D550C;
}

.banner .banner-list .banner-left .button-list li:nth-child(2) {
  margin-left: 20px;
}

.banner .banner-list .banner-right {
  width: 40%;
  text-align: right;
}

.banner .banner-list .banner-right img {
  max-width: 960px;
  height: 500px;
}

.banner .fa-angle-left {
  font-size: 40px;
  background-color: #59981A;
  color: white;
  padding: 10px 20px;
  /* margin: 10px; */
  border-radius: 10px;
  position: absolute;
  top: 47%;
  left: -57px;
}

.banner .fa-angle-right {
  font-size: 40px;
  background-color: #59981A;
  color: white;
  padding: 10px 20px;
  /* margin: 10px; */
  border-radius: 10px;
  position: absolute;
  bottom: 41%;
  right: -60px;
}

.services {
  padding-bottom: 100px;
  background-color: #ECF87F;
}

.services .service-sub-heading h1 {
  text-align: center;
  font-size: 50px;
  color: #313243;
}

.services .services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-section .services-left {
  width: 60%;
  padding-bottom: 17px;
}

.services .services-section .services-left a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #81B622;
  padding: 13px;
  border-radius: 5px;
}

.services .services-section .services-left .services-heading {
  padding-bottom: 20px;
}

.services .services-section .services-left .services-heading h1 {
  font-size: 38px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.services .services-section .services-left .services-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -22px;
}

.services .services-section .services-left .button:hover {
  background-color: #59981A;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 2px 3px 6px #3D550C;
          box-shadow: 2px 3px 6px #3D550C;
}

.services .services-section .services-right {
  width: 40%;
  text-align: right;
  position: relative;
  margin-bottom: 20px;
  margin-left: 150px;
}

.services .services-section .services-right::before {
  content: '';
  width: 187px;
  height: 165px;
  /* right: 278px; */
  left: -20px;
  bottom: -16px;
  position: absolute;
  z-index: 1;
  background-color: #81B622;
}

.services .services-section .services-right img {
  height: 400px;
  max-width: 456px;
  z-index: 1;
  position: relative;
}

.vaccination {
  background-color: #81B622;
  padding-bottom: 30px;
}

.vaccination .vaccination-section .vaccination-heading {
  text-align: center;
}

.vaccination .vaccination-section .vaccination-heading h1 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.vaccination .vaccination-section .vaccination-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -39px;
  margin-bottom: 60px;
}

.vaccination .vaccination-section .vaccination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 -32px;
}

.vaccination .vaccination-section .vaccination-list li {
  width: calc(33.33% - 64px);
  padding: 0 32px;
}

.vaccination .vaccination-section .vaccination-list li .vaccination-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.vaccination .vaccination-section .vaccination-list li .vaccination-text {
  text-align: center;
}

.vaccination .vaccination-section .vaccination-list li .vaccination-text h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.vaccination .vaccination-section .vaccination-list li .vaccination-text p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -20px;
}

.care {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ECF87F;
}

.care .care-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.care .care-section .care-left {
  width: 35%;
  position: relative;
  margin-bottom: 20px;
}

.care .care-section .care-left::before {
  content: '';
  width: 187px;
  height: 165px;
  /* right: 278px; */
  right: -20px;
  bottom: -20px;
  position: absolute;
  z-index: 1;
  background-color: #81B622;
}

.care .care-section .care-left img {
  height: 400px;
  max-width: 456px;
  z-index: 1;
  position: relative;
}

.care .care-section .care-right {
  width: 65%;
  text-align: right;
  margin-top: 12px;
}

.care .care-section .care-right a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #81B622;
  padding: 13px;
  border-radius: 5px;
}

.care .care-section .care-right a:hover {
  background-color: #59981A;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.care .care-section .care-right .care-heading {
  padding-bottom: 20px;
}

.care .care-section .care-right .care-heading h1 {
  font-size: 38px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

.care .care-section .care-right .care-heading p {
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -22px;
}

.team {
  background-color: #ECF87F;
  padding-top: 40px;
  padding-bottom: 80px;
}

.team .team-section .team-heading {
  padding-bottom: 20px;
}

.team .team-section .team-heading h1 {
  font-size: 50px;
  color: #313243;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.team .team-section .team-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -30px;
}

.team .team-section .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 -15px;
  padding-bottom: 20px;
}

.team .team-section .team-list li {
  width: calc(33.33% - 30px);
  padding: 0 15px;
}

.team .team-section .team-list li .team-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.team .team-section .team-list li .team-text h2 {
  font-size: 25px;
  color: #313243;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.team .team-section .team-list li .team-text h3 {
  font-size: 20px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* margin: 0; */
  margin-top: -23px;
}

.team .team-section .team-list li .team-text .team-text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 46px;
  margin-top: -10px;
}

.team .team-section .team-list li .team-text .team-text-list li {
  padding: 0;
}

.team .team-section .team-list li .team-text .team-text-list li img {
  max-width: 35px;
}

.team .team-section .team-list li .team-text .team-text-list li img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.info {
  position: relative;
  text-align: center;
  background-color: #81B622;
  background-size: cover;
  padding: 40px 0;
}

.info .info-section {
  position: relative;
}

.info .info-section .info-list {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .info-section .info-list li {
  width: calc(33.33% - 40px);
  padding: 0 20px;
}

.info .info-section .info-list li:nth-child(3) img {
  max-width: 145px;
}

.info .info-section .info-list li .info-list-img img {
  max-width: 167px;
}

.info .info-section .info-list li .info-text {
  text-align: center;
}

.info .info-section .info-list li .info-text span {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.info .info-section .info-list li .info-text h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.post {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #ECF87F;
}

.post .post-section .post-heading {
  padding-bottom: 20px;
}

.post .post-section .post-heading h1 {
  font-size: 50px;
  color: #313243;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.post .post-section .post-heading p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 35px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -34px;
}

.post .post-section .post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 -15px;
  padding-bottom: 20px;
}

.post .post-section .post-list li {
  width: calc(33.33% - 30px);
  padding: 0 15px;
  padding-bottom: 30px;
}

.post .post-section .post-list li .post-text {
  border-right: 2px solid #81B622;
  border-bottom: 2px solid #81B622;
  border-left: 2px solid #81B622;
  padding-bottom: 12px;
  padding: 16px;
}

.post .post-section .post-list li .post-text h2 {
  margin-top: 0;
  font-size: 20px;
  color: #313243;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.post .post-section .post-list li .post-text h3 {
  font-size: 15px;
  color: #59981A;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: -14px;
}

.post .post-section .post-list li .post-text p {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #313243;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.post .post-section .post-list li .post-text .read-button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: #59981A;
  padding: 0;
  border: none;
  color: white;
  font-size: medium;
  cursor: pointer;
}

.post .post-section a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 900;
  border: 2px solid;
  padding: 3px 24px;
  background-color: #59981A;
}

.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81B622;
}

.contact .contact-content {
  padding-bottom: 80px;
}

.contact .contact-content .contact-heading {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.contact .contact-content .contact-heading h1 {
  color: white;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.contact .contact-content .contact-heading p {
  font-weight: 400;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 35px;
  margin-top: -39px;
}

.contact .contact-content .contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-content .contact-main .contact-left {
  width: 50%;
}

.contact .contact-content .contact-main .contact-left h4 {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.contact .contact-content .contact-main .contact-left .contact-list {
  padding: 0;
}

.contact .contact-content .contact-main .contact-left .contact-list li {
  margin-bottom: 30px;
}

.contact .contact-content .contact-main .contact-left .contact-list li h3 {
  font-size: 16px;
  color: white;
}

.contact .contact-content .contact-main .contact-left .contact-list li h3 i {
  color: #59981A;
}

.contact .contact-content .contact-main .contact-right {
  width: 50%;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  width: calc(100% - 30px);
  background-color: white;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
  min-height: 100px;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
.contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
.contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
  max-height: 2px;
  font-size: 14px;
  opacity: 78%;
  outline: 0;
  padding: 15px;
  width: calc(100% - 30px);
  background-color: white;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
  min-height: 100px;
}

.contact .contact-content .contact-main .contact-right .update-button {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact .contact-content .contact-main .contact-right .update-button a {
  border: 2px solid #ECF87F;
  color: #ECF87F;
  padding: 13px 162px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
  margin-top: 29px;
  font-weight: 900;
  /* width: 29%; */
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
}

.contact .contact-content .contact-main .contact-right .update-button a:hover {
  background-color: #3D550C;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.banner-top {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #81B622;
}

.banner-top .banner-top-section h1 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  color: white;
}

.banner-top .banner-top-section h2 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  color: white;
}

.hiking {
  background-color: #ECF87F;
}

.hiking .hiking-section {
  max-width: 870px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.hiking .hiking-section h1 {
  font-size: 35px;
  font-family: 'Poppins';
}

.hiking .hiking-section p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 50px;
  font-family: 'Poppins';
}

.hiking .hiking-section .main-hiking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hiking .hiking-section .main-hiking .share h3 {
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 900;
}

.hiking .hiking-section .main-hiking .share-list {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hiking .hiking-section .main-hiking .share-list li {
  padding: 8px;
}

.hiking .hiking-section .main-hiking .share-list li a i {
  font-size: 40px;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
  color: #6db106;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
  color: blue;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
  color: #1282a7;
}

.hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
  color: #c03eebbf;
}

.hiking .hiking-section .main-hiking .share-list li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

footer .about {
  background-color: #343434;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .about .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .about .about-section h1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

footer .about .about-section .left {
  width: 29%;
}

footer .about .about-section .left .left-list {
  padding: 0;
}

footer .about .about-section .left .left-list li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

footer .about .about-section .left .left-list li a:hover {
  font-weight: 900;
  color: #ECF87F;
}

footer .about .about-section .middle {
  width: 29%;
}

footer .about .about-section .middle .middle-list {
  padding: 0;
}

footer .about .about-section .middle .middle-list li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

footer .about .about-section .middle .middle-list li a:hover {
  font-weight: 900;
  color: #ECF87F;
}

footer .about .about-section .right {
  width: 42%;
  text-align: right;
}

footer .about .about-section .right .right-heading h2 {
  font-size: 30px;
  line-height: 8px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

footer .about .about-section .right .right-heading p {
  font-size: 17px;
  line-height: 33px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

footer .about .about-section .right .footer-search {
  position: relative;
}

footer .about .about-section .right .footer-search form .footer-search-button {
  width: 72px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  background: #59981A;
}

footer .about .about-section .right .footer-search form .footer-search-button:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  background: url(/images/msg.png) no-repeat;
}

footer .about .about-section .right .footer-search form input[type="search"] {
  background: #81B622;
  height: 60px;
  padding: 6px 153px 34px -48px;
  /* border-radius: 3px; */
  width: 100%;
  outline: none;
  border: 0;
  margin: 0;
  color: #ECF87F;
  font-weight: 700;
  font-size: 15px;
}

footer .about .about-section .right .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .about .about-section .right .footer-list li {
  padding: 5px;
}

footer .about .about-section .right .footer-list li img {
  max-width: 44px;
}

footer .about .about-section .right .footer-list li img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/* mobile responsive */
@media only screen and (max-width: 768px) {
  header #sidebar {
    position: relative;
  }
  header .navbar .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 0;
    top: 69px;
    padding: 20px;
    background-color: none;
    z-index: 999;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }
  header .navbar .nav-menu:active {
    left: 0;
  }
  header .navbar .nav-menu .nav-item {
    margin: 2.5rem 0;
  }
  header .navbar .nav-menu .nav-item .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
  }
  header .navbar .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .nav-menu .nav-item {
    margin: 0;
    padding: 20px;
  }
  header .navbar .nav-menu .nav-item .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ECF87F;
    text-decoration: none;
  }
  header .navbar .nav-menu .nav-item .nav-link:hover {
    color: #59981A;
  }
  header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  header .navbar .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ECF87F;
  }
  #sidebar.hide .nav-menu {
    display: none;
  }
  #sidebar.show .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #59981A;
  }
  #sidebar.show .search {
    display: none;
  }
  .banner {
    padding-top: 0px;
  }
  .banner .banner-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner .banner-list .banner-left {
    width: 100%;
    margin-top: 31px;
    padding-bottom: 40px;
  }
  .banner .banner-list .banner-left .banner-heading h1 {
    font-size: 20px;
  }
  .banner .banner-list .banner-left .banner-heading p {
    font-size: 11px;
    margin-top: 0px;
  }
  .banner .banner-list .banner-left .button-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .banner-list .banner-left .button-list li a {
    font-size: 8px;
    padding: 5px;
  }
  .banner .banner-list .banner-left .button-list li a:hover {
    background-color: #3D550C;
    border: 2px solid #3D550C;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-box-shadow: 2px 3px 6px #3D550C;
            box-shadow: 2px 3px 6px #3D550C;
  }
  .banner .banner-list .banner-left .button-list li:nth-child(2) {
    margin-left: 20px;
  }
  .banner .banner-list .banner-right {
    width: 100%;
    text-align: right;
  }
  .banner .banner-list .banner-right img {
    height: auto;
  }
  .banner .fa-angle-left {
    padding: 1px 8px;
  }
  .banner .fa-angle-right {
    padding: 1px 8px;
  }
  .services .services-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services .services-section .services-left {
    width: 100%;
    padding-bottom: 17px;
  }
  .services .services-section .services-left a {
    font-size: 8px;
    padding: 5px;
  }
  .services .services-section .services-left .services-heading h1 {
    font-size: 18px;
  }
  .services .services-section .services-left .services-heading p {
    font-size: 12px;
    margin-top: 0px;
  }
  .services .services-section .services-right {
    width: 100%;
    margin-left: 0px;
  }
  .services .services-section .services-right::before {
    left: 87px;
  }
  .services .services-section .services-right img {
    height: auto;
  }
  .vaccination .vaccination-section .vaccination-heading h1 {
    font-size: 30px;
  }
  .vaccination .vaccination-section .vaccination-heading p {
    font-size: 10px;
    margin-top: -17px;
  }
  .vaccination .vaccination-section .vaccination-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vaccination .vaccination-section .vaccination-list li {
    width: 100%;
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text {
    text-align: center;
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text h2 {
    font-size: 22px;
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text p {
    font-size: 15px;
    margin-top: -20px;
    padding-bottom: 15px;
  }
  .care .care-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .care .care-section .care-left {
    width: 100%;
  }
  .care .care-section .care-left::before {
    right: 95px;
  }
  .care .care-section .care-left img {
    height: auto;
  }
  .care .care-section .care-right {
    width: 100%;
    padding-bottom: 8px;
  }
  .care .care-section .care-right a {
    font-size: 8px;
    padding: 5px;
  }
  .care .care-section .care-right a:hover {
    background-color: #59981A;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .care .care-section .care-right .care-heading h1 {
    font-size: 18px;
  }
  .care .care-section .care-right .care-heading p {
    font-size: 12px;
    margin-top: 2px;
  }
  .team {
    background-color: #ECF87F;
  }
  .team .team-section .team-heading h1 {
    font-size: 22px;
  }
  .team .team-section .team-heading p {
    font-size: 11px;
    margin-top: -12px;
  }
  .team .team-section .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
  }
  .team .team-section .team-list li {
    width: 100%;
    padding-bottom: 20px;
  }
  .team .team-section .team-list li .team-text h2 {
    font-size: 18px;
  }
  .team .team-section .team-list li .team-text h3 {
    font-size: 17px;
  }
  .team .team-section .team-list li .team-text .team-text-list {
    margin-left: 34px;
    margin-top: -10px;
  }
  .team .team-section .team-list li .team-text .team-text-list li img {
    max-width: 22px;
  }
  .info .info-section .info-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .info .info-section .info-list li {
    width: 100%;
    padding: 0 20px;
  }
  .info .info-section .info-list li .info-list-img img {
    max-width: 130px;
  }
  .info .info-section .info-list li .info-text span {
    font-size: 22px;
  }
  .info .info-section .info-list li .info-text h2 {
    font-size: 20px;
  }
  .post .post-section .post-heading h1 {
    font-size: 22px;
  }
  .post .post-section .post-heading p {
    font-size: 11px;
    margin-top: -12px;
  }
  .post .post-section .post-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
  }
  .post .post-section .post-list li {
    width: 100%;
    padding-bottom: 20px;
  }
  .post .post-section .post-list li .post-text h2 {
    font-size: 12px;
  }
  .post .post-section .post-list li .post-text h3 {
    font-size: 11px;
    margin-top: 0px;
  }
  .post .post-section .post-list li .post-text p {
    font-size: 11px;
  }
  .post .post-section .post-list li .post-text span {
    font-size: 14px;
  }
  .contact .contact-content .contact-heading h1 {
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .contact .contact-content .contact-heading p {
    font-weight: 400;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 0px;
  }
  .contact .contact-content .contact-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-content .contact-main .contact-left {
    width: 100%;
  }
  .contact .contact-content .contact-main .contact-left h4 {
    font-size: 15px;
  }
  .contact .contact-content .contact-main .contact-left .contact-list {
    padding: 0;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li {
    margin-bottom: 30px;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li h3 {
    font-size: 12px;
    color: white;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li h3 i {
    color: #59981A;
  }
  .contact .contact-content .contact-main .contact-right {
    width: 100%;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
    min-height: 100px;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
    min-height: 100px;
  }
  .contact .contact-content .contact-main .contact-right .update-button a {
    padding: 13px 107px;
    font-size: 15px;
  }
  .contact .contact-content .contact-main .contact-right .update-button a:hover {
    background-color: #3D550C;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .banner-top .banner-top-section h1 {
    font-size: 25px;
  }
  .banner-top .banner-top-section h2 {
    font-size: 18px;
  }
  .hiking .hiking-section h1 {
    font-size: 18px;
  }
  .hiking .hiking-section p {
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 2px;
  }
  .hiking .hiking-section .main-hiking .share h3 {
    font-size: 15px;
    margin-top: 20px;
  }
  .hiking .hiking-section .main-hiking .share-list {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hiking .hiking-section .main-hiking .share-list li {
    padding: 8px;
  }
  .hiking .hiking-section .main-hiking .share-list li a i {
    font-size: 20px;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
    color: #6db106;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
    color: blue;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
    color: #1282a7;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
    color: #c03eebbf;
  }
  .hiking .hiking-section .main-hiking .share-list li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  footer .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer .about .about-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .about .about-section h1 {
    font-size: 23px;
  }
  footer .about .about-section .left {
    width: 100%;
  }
  footer .about .about-section .left .left-list li a {
    font-size: 16px;
  }
  footer .about .about-section .middle {
    width: 100%;
  }
  footer .about .about-section .middle .middle-list li a {
    font-size: 16px;
  }
  footer .about .about-section .right {
    width: 100%;
    text-align: right;
  }
  footer .about .about-section .right .right-heading h2 {
    font-size: 23px;
  }
  footer .about .about-section .right .right-heading p {
    font-size: 13px;
  }
  footer .about .about-section .right .footer-search form input[type="search"] {
    height: 36px;
  }
  footer .about .about-section .right .footer-list li img {
    max-width: 30px;
  }
}

/* ipad responsive */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header .header-inner .header-content .logo {
    width: 35%;
  }
  header .header-inner .header-content .header-list {
    width: 65%;
  }
  header .header-inner .header-content .header-list li {
    padding: 0 9px;
  }
  header .header-inner .header-content .header-list li .search {
    display: none;
  }
  header .header-inner .header-content .header-list li .search form {
    width: 100%;
    position: relative;
  }
  header .header-inner .header-content .header-list li .search form .search-button {
    width: 52px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: 0;
    background: #59981A;
  }
  header .header-inner .header-content .header-list li .search form .search-button::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 26px;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    background: url("/images/Search Button.png") no-repeat;
  }
  header .header-inner .header-content .header-list li .search form .search-section span {
    position: absolute;
    left: 19px;
    top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    /* letter-spacing: 0px; */
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  header .header-inner .header-content .header-list li .search form input[type="search"] {
    background: #81B622;
    height: 42px;
    padding: 6px 153px 34px -48px;
    /* border-radius: 3px; */
    width: 80%;
    outline: none;
    border: 0;
    margin: 0;
    color: #ECF87F;
    font-weight: 700;
    font-size: 15px;
  }
  header .header-inner .header-content .header-list a {
    font-size: 18px;
  }
  .banner .banner-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner .banner-list .banner-left {
    width: 100%;
    margin-top: 31px;
    padding-bottom: 40px;
  }
  .banner .banner-list .banner-left .banner-heading h1 {
    font-size: 32px;
  }
  .banner .banner-list .banner-left .banner-heading p {
    font-size: 18px;
    margin-top: 0px;
  }
  .banner .banner-list .banner-left .button-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .banner-list .banner-left .button-list li a {
    font-size: 14px;
    padding: 11px;
  }
  .banner .banner-list .banner-left .button-list li a:hover {
    background-color: #3D550C;
    border: 2px solid #3D550C;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-box-shadow: 2px 3px 6px #3D550C;
            box-shadow: 2px 3px 6px #3D550C;
  }
  .banner .banner-list .banner-left .button-list li:nth-child(2) {
    margin-left: 20px;
  }
  .banner .banner-list .banner-right {
    width: 100%;
    text-align: right;
  }
  .banner .banner-list .banner-right img {
    max-width: 960px;
    height: 500px;
  }
  .banner .fa-angle-left {
    top: 51%;
  }
  .services .service-sub-heading h1 {
    font-size: 50px;
  }
  .services .services-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services .services-section .services-left {
    width: 100%;
    padding-bottom: 17px;
  }
  .services .services-section .services-left a {
    font-size: 14px;
    padding: 11px;
  }
  .services .services-section .services-left .services-heading h1 {
    font-size: 35px;
  }
  .services .services-section .services-left .services-heading p {
    font-size: 21px;
    margin-top: 0px;
  }
  .services .services-section .services-right {
    width: 100%;
  }
  .services .services-section .services-right::before {
    left: 168px;
  }
  .vaccination .vaccination-section .vaccination-heading h1 {
    font-size: 45px;
  }
  .vaccination .vaccination-section .vaccination-heading p {
    font-size: 21px;
    margin-top: 0px;
  }
  .vaccination .vaccination-section .vaccination-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vaccination .vaccination-section .vaccination-list li {
    width: calc(50% - 64px);
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text {
    text-align: center;
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text h2 {
    font-size: 30px;
  }
  .vaccination .vaccination-section .vaccination-list li .vaccination-text p {
    font-size: 20px;
    margin-top: -20px;
  }
  .care .care-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .care .care-section .care-left {
    width: 100%;
  }
  .care .care-section .care-left::before {
    right: 169px;
  }
  .care .care-section .care-right {
    width: 100%;
    padding-bottom: 8px;
  }
  .care .care-section .care-right a {
    font-size: 14px;
    padding: 11px;
  }
  .care .care-section .care-right a:hover {
    background-color: #59981A;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .care .care-section .care-right .care-heading h1 {
    font-size: 35px;
  }
  .care .care-section .care-right .care-heading p {
    font-size: 21px;
  }
  .team .team-section .team-heading h1 {
    font-size: 45px;
  }
  .team .team-section .team-heading p {
    font-size: 21px;
  }
  .team .team-section .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .team-section .team-list li {
    width: calc(50% - 30px);
    padding-bottom: 20px;
  }
  .team .team-section .team-list li .team-text h2 {
    font-size: 23px;
  }
  .team .team-section .team-list li .team-text h3 {
    font-size: 21px;
  }
  .team .team-section .team-list li .team-text .team-text-list {
    margin-left: 46px;
    margin-top: -10px;
  }
  .team .team-section .team-list li .team-text .team-text-list li img {
    max-width: 30px;
  }
  .info .info-section .info-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info .info-section .info-list li {
    width: calc(50% - 40px);
    padding: 0 20px;
  }
  .info .info-section .info-list li .info-list-img img {
    max-width: 130px;
  }
  .info .info-section .info-list li .info-text span {
    font-size: 30px;
  }
  .info .info-section .info-list li .info-text h2 {
    font-size: 27px;
  }
  .post .post-section .post-heading h1 {
    font-size: 45px;
  }
  .post .post-section .post-heading p {
    font-size: 21px;
    margin-top: -20px;
  }
  .post .post-section .post-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post .post-section .post-list li {
    width: calc(50% - 30px);
    padding-bottom: 20px;
  }
  .post .post-section .post-list li .post-text h2 {
    font-size: 20px;
  }
  .post .post-section .post-list li .post-text h3 {
    font-size: 15px;
  }
  .post .post-section .post-list li .post-text p {
    font-size: 15px;
  }
  .post .post-section .post-list li .post-text span {
    font-size: 18px;
  }
  .contact .contact-content .contact-heading h1 {
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .contact .contact-content .contact-heading p {
    font-weight: 400;
    color: white;
    font-size: 16px;
    margin-top: 0px;
  }
  .contact .contact-content .contact-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-content .contact-main .contact-left {
    width: 100%;
  }
  .contact .contact-content .contact-main .contact-left h4 {
    color: white;
    font-size: 21px;
    font-weight: bold;
  }
  .contact .contact-content .contact-main .contact-left .contact-list {
    padding: 0;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li {
    margin-bottom: 30px;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li h3 {
    font-size: 16px;
    color: white;
  }
  .contact .contact-content .contact-main .contact-left .contact-list li h3 i {
    color: #59981A;
  }
  .contact .contact-content .contact-main .contact-right {
    width: 100%;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-dis .form-items textarea {
    min-height: 100px;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="text"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items input[type="email"],
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea,
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items select {
    max-height: 2px;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: white;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact .contact-content .contact-main .contact-right form .form-parts .form-items textarea {
    min-height: 100px;
  }
  .contact .contact-content .contact-main .contact-right .update-button {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .contact .contact-content .contact-main .contact-right .update-button a {
    border: 2px solid #ECF87F;
    color: #ECF87F;
    padding: 13px 162px;
    text-align: center;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 3px;
    margin-top: 29px;
    font-weight: 900;
    /* width: 29%; */
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 17px;
  }
  .contact .contact-content .contact-main .contact-right .update-button a:hover {
    background-color: #3D550C;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .banner-top .banner-top-section h1 {
    font-size: 45px;
  }
  .banner-top .banner-top-section h2 {
    font-size: 23px;
  }
  .hiking .hiking-section h1 {
    font-size: 30px;
  }
  .hiking .hiking-section p {
    font-size: 22px;
  }
  .hiking .hiking-section .main-hiking .share h3 {
    font-size: 25px;
  }
  .hiking .hiking-section .main-hiking .share-list {
    margin-left: 20px;
  }
  .hiking .hiking-section .main-hiking .share-list li {
    padding: 8px;
  }
  .hiking .hiking-section .main-hiking .share-list li a i {
    font-size: 40px;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-whatsapp-square {
    color: #6db106;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-twitter {
    color: blue;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-facebook {
    color: #1282a7;
  }
  .hiking .hiking-section .main-hiking .share-list li a .fa-instagram-square {
    color: #c03eebbf;
  }
  .hiking .hiking-section .main-hiking .share-list li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  footer .about .about-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .about .about-section h1 {
    font-size: 30px;
  }
  footer .about .about-section .left {
    width: 50%;
  }
  footer .about .about-section .left .left-list li a {
    font-size: 20px;
  }
  footer .about .about-section .middle {
    width: 50%;
  }
  footer .about .about-section .middle .middle-list li a {
    font-size: 20px;
  }
  footer .about .about-section .right {
    width: 100%;
    text-align: right;
  }
  footer .about .about-section .right .right-heading h2 {
    font-size: 30px;
  }
  footer .about .about-section .right .right-heading p {
    font-size: 20px;
  }
  footer .about .about-section .right .footer-search form input[type="search"] {
    height: 50px;
  }
  footer .about .about-section .right .footer-list li img {
    max-width: 40px;
  }
}
/*# sourceMappingURL=style.css.map */