{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
 <div class="wrapper">
        <nav class="navbar">
            {# <a href="/index.html" class="nav-logo">LOGO.</a> #}
            <!-- <img src="/images/logo.png" alt="" srcset=""> -->
            <div id="sidebar" class="hide">
            <ul class="nav-menu">
            {% for item in items %}
            <li>
            <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            </li>
            {% endfor %}
            </div>
            <div id="toggle-icon" class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
           </div>
                
        </nav>
        </div> 